<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,296}</string>
                <key>spriteSourceSize</key>
                <string>{341,296}</string>
                <key>textureRect</key>
                <string>{{1046,552},{341,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{355,251}</string>
                <key>spriteSourceSize</key>
                <string>{355,251}</string>
                <key>textureRect</key>
                <string>{{401,1},{355,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{312,263}</string>
                <key>spriteSourceSize</key>
                <string>{312,263}</string>
                <key>textureRect</key>
                <string>{{1121,1},{312,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,264}</string>
                <key>spriteSourceSize</key>
                <string>{359,264}</string>
                <key>textureRect</key>
                <string>{{1435,1},{359,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,249}</string>
                <key>spriteSourceSize</key>
                <string>{398,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{398,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,258}</string>
                <key>spriteSourceSize</key>
                <string>{361,258}</string>
                <key>textureRect</key>
                <string>{{758,1},{361,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,350}</string>
                <key>spriteSourceSize</key>
                <string>{351,350}</string>
                <key>textureRect</key>
                <string>{{1,2474},{351,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,297}</string>
                <key>spriteSourceSize</key>
                <string>{383,297}</string>
                <key>textureRect</key>
                <string>{{1389,552},{383,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,327}</string>
                <key>spriteSourceSize</key>
                <string>{347,327}</string>
                <key>textureRect</key>
                <string>{{1407,1161},{347,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,342}</string>
                <key>spriteSourceSize</key>
                <string>{329,342}</string>
                <key>textureRect</key>
                <string>{{1111,1490},{329,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{382,333}</string>
                <key>spriteSourceSize</key>
                <string>{382,333}</string>
                <key>textureRect</key>
                <string>{{1,1778},{382,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,328}</string>
                <key>spriteSourceSize</key>
                <string>{340,328}</string>
                <key>textureRect</key>
                <string>{{392,1468},{340,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,316}</string>
                <key>spriteSourceSize</key>
                <string>{346,316}</string>
                <key>textureRect</key>
                <string>{{329,1131},{346,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,284}</string>
                <key>spriteSourceSize</key>
                <string>{295,284}</string>
                <key>textureRect</key>
                <string>{{1134,266},{295,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,315}</string>
                <key>spriteSourceSize</key>
                <string>{291,315}</string>
                <key>textureRect</key>
                <string>{{729,544},{291,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,356}</string>
                <key>spriteSourceSize</key>
                <string>{275,356}</string>
                <key>textureRect</key>
                <string>{{1,252},{275,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,424}</string>
                <key>spriteSourceSize</key>
                <string>{342,424}</string>
                <key>textureRect</key>
                <string>{{1465,2160},{342,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,366}</string>
                <key>spriteSourceSize</key>
                <string>{337,366}</string>
                <key>textureRect</key>
                <string>{{1496,1821},{337,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,341}</string>
                <key>spriteSourceSize</key>
                <string>{394,341}</string>
                <key>textureRect</key>
                <string>{{1069,2155},{394,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,311}</string>
                <key>spriteSourceSize</key>
                <string>{326,311}</string>
                <key>textureRect</key>
                <string>{{1,1125},{326,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,306}</string>
                <key>spriteSourceSize</key>
                <string>{363,306}</string>
                <key>textureRect</key>
                <string>{{337,823},{363,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,332}</string>
                <key>spriteSourceSize</key>
                <string>{392,332}</string>
                <key>textureRect</key>
                <string>{{1102,1821},{392,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,400}</string>
                <key>spriteSourceSize</key>
                <string>{403,400}</string>
                <key>textureRect</key>
                <string>{{813,2869},{403,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,336}</string>
                <key>spriteSourceSize</key>
                <string>{375,336}</string>
                <key>textureRect</key>
                <string>{{725,1805},{375,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,308}</string>
                <key>spriteSourceSize</key>
                <string>{361,308}</string>
                <key>textureRect</key>
                <string>{{1430,851},{361,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,302}</string>
                <key>spriteSourceSize</key>
                <string>{334,302}</string>
                <key>textureRect</key>
                <string>{{1,821},{334,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,333}</string>
                <key>spriteSourceSize</key>
                <string>{338,333}</string>
                <key>textureRect</key>
                <string>{{385,1798},{338,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,364}</string>
                <key>spriteSourceSize</key>
                <string>{388,364}</string>
                <key>textureRect</key>
                <string>{{1,2846},{388,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{466,417}</string>
                <key>spriteSourceSize</key>
                <string>{466,417}</string>
                <key>textureRect</key>
                <string>{{1218,2869},{466,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{407,360}</string>
                <key>spriteSourceSize</key>
                <string>{407,360}</string>
                <key>textureRect</key>
                <string>{{712,2498},{407,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,327}</string>
                <key>spriteSourceSize</key>
                <string>{389,327}</string>
                <key>textureRect</key>
                <string>{{1,1449},{389,327}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,339}</string>
                <key>spriteSourceSize</key>
                <string>{362,339}</string>
                <key>textureRect</key>
                <string>{{351,2133},{362,339}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,347}</string>
                <key>spriteSourceSize</key>
                <string>{352,347}</string>
                <key>textureRect</key>
                <string>{{715,2143},{352,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,370}</string>
                <key>spriteSourceSize</key>
                <string>{356,370}</string>
                <key>textureRect</key>
                <string>{{354,2474},{356,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,364}</string>
                <key>spriteSourceSize</key>
                <string>{420,364}</string>
                <key>textureRect</key>
                <string>{{391,2860},{420,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,328}</string>
                <key>spriteSourceSize</key>
                <string>{375,328}</string>
                <key>textureRect</key>
                <string>{{734,1475},{375,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,288}</string>
                <key>spriteSourceSize</key>
                <string>{357,288}</string>
                <key>textureRect</key>
                <string>{{1,531},{357,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,310}</string>
                <key>spriteSourceSize</key>
                <string>{326,310}</string>
                <key>textureRect</key>
                <string>{{702,837},{326,310}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,317}</string>
                <key>spriteSourceSize</key>
                <string>{330,317}</string>
                <key>textureRect</key>
                <string>{{677,1149},{330,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,348}</string>
                <key>spriteSourceSize</key>
                <string>{337,348}</string>
                <key>textureRect</key>
                <string>{{1,2113},{337,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,363}</string>
                <key>spriteSourceSize</key>
                <string>{430,363}</string>
                <key>textureRect</key>
                <string>{{1121,2504},{430,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,315}</string>
                <key>spriteSourceSize</key>
                <string>{396,315}</string>
                <key>textureRect</key>
                <string>{{1009,1158},{396,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,276}</string>
                <key>spriteSourceSize</key>
                <string>{380,276}</string>
                <key>textureRect</key>
                <string>{{752,266},{380,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,329}</string>
                <key>spriteSourceSize</key>
                <string>{360,329}</string>
                <key>textureRect</key>
                <string>{{1455,1490},{360,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,290}</string>
                <key>spriteSourceSize</key>
                <string>{367,290}</string>
                <key>textureRect</key>
                <string>{{360,531},{367,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,283}</string>
                <key>spriteSourceSize</key>
                <string>{377,283}</string>
                <key>textureRect</key>
                <string>{{1431,267},{377,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,305}</string>
                <key>spriteSourceSize</key>
                <string>{398,305}</string>
                <key>textureRect</key>
                <string>{{1030,851},{398,305}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,275}</string>
                <key>spriteSourceSize</key>
                <string>{391,275}</string>
                <key>textureRect</key>
                <string>{{359,254},{391,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1890,3287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0be3b98d9480b69dbb31b789587337a:bb147e20ec299e7b5a121bc217dd76d9:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
