<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,254}</string>
                <key>spriteSourceSize</key>
                <string>{535,254}</string>
                <key>textureRect</key>
                <string>{{1,2681},{535,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{513,247}</string>
                <key>spriteSourceSize</key>
                <string>{513,247}</string>
                <key>textureRect</key>
                <string>{{1051,484},{513,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{486,223}</string>
                <key>spriteSourceSize</key>
                <string>{486,223}</string>
                <key>textureRect</key>
                <string>{{496,1933},{486,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{531,197}</string>
                <key>spriteSourceSize</key>
                <string>{531,197}</string>
                <key>textureRect</key>
                <string>{{286,1051},{531,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{573,205}</string>
                <key>spriteSourceSize</key>
                <string>{573,205}</string>
                <key>textureRect</key>
                <string>{{289,1584},{573,205}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{605,179}</string>
                <key>spriteSourceSize</key>
                <string>{605,179}</string>
                <key>textureRect</key>
                <string>{{575,271},{605,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,421}</string>
                <key>spriteSourceSize</key>
                <string>{253,421}</string>
                <key>textureRect</key>
                <string>{{1522,3033},{253,421}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,411}</string>
                <key>spriteSourceSize</key>
                <string>{283,411}</string>
                <key>textureRect</key>
                <string>{{1295,1181},{283,411}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,385}</string>
                <key>spriteSourceSize</key>
                <string>{325,385}</string>
                <key>textureRect</key>
                <string>{{1140,2670},{325,385}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,383}</string>
                <key>spriteSourceSize</key>
                <string>{388,383}</string>
                <key>textureRect</key>
                <string>{{1571,2396},{388,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,389}</string>
                <key>spriteSourceSize</key>
                <string>{430,389}</string>
                <key>textureRect</key>
                <string>{{863,1066},{430,389}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,380}</string>
                <key>spriteSourceSize</key>
                <string>{446,380}</string>
                <key>textureRect</key>
                <string>{{496,1485},{446,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,410}</string>
                <key>spriteSourceSize</key>
                <string>{304,410}</string>
                <key>textureRect</key>
                <string>{{1717,1},{304,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,409}</string>
                <key>spriteSourceSize</key>
                <string>{289,409}</string>
                <key>textureRect</key>
                <string>{{1708,1204},{289,409}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,413}</string>
                <key>spriteSourceSize</key>
                <string>{235,413}</string>
                <key>textureRect</key>
                <string>{{1033,2997},{235,413}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,453}</string>
                <key>spriteSourceSize</key>
                <string>{214,453}</string>
                <key>textureRect</key>
                <string>{{1249,1831},{214,453}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,465}</string>
                <key>spriteSourceSize</key>
                <string>{211,465}</string>
                <key>textureRect</key>
                <string>{{931,2158},{211,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,464}</string>
                <key>spriteSourceSize</key>
                <string>{200,464}</string>
                <key>textureRect</key>
                <string>{{257,3192},{200,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,246}</string>
                <key>spriteSourceSize</key>
                <string>{558,246}</string>
                <key>textureRect</key>
                <string>{{1157,1},{558,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{532,286}</string>
                <key>spriteSourceSize</key>
                <string>{532,286}</string>
                <key>textureRect</key>
                <string>{{1,1610},{532,286}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,331}</string>
                <key>spriteSourceSize</key>
                <string>{476,331}</string>
                <key>textureRect</key>
                <string>{{924,733},{476,331}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{463,376}</string>
                <key>spriteSourceSize</key>
                <string>{463,376}</string>
                <key>textureRect</key>
                <string>{{485,1020},{463,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,369}</string>
                <key>spriteSourceSize</key>
                <string>{439,369}</string>
                <key>textureRect</key>
                <string>{{878,1457},{439,369}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,363}</string>
                <key>spriteSourceSize</key>
                <string>{441,363}</string>
                <key>textureRect</key>
                <string>{{1249,1466},{441,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,275}</string>
                <key>spriteSourceSize</key>
                <string>{535,275}</string>
                <key>textureRect</key>
                <string>{{1,2144},{535,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{523,265}</string>
                <key>spriteSourceSize</key>
                <string>{523,265}</string>
                <key>textureRect</key>
                <string>{{278,2159},{523,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,268}</string>
                <key>spriteSourceSize</key>
                <string>{506,268}</string>
                <key>textureRect</key>
                <string>{{257,2684},{506,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,283}</string>
                <key>spriteSourceSize</key>
                <string>{557,283}</string>
                <key>textureRect</key>
                <string>{{1,1051},{557,283}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{572,282}</string>
                <key>spriteSourceSize</key>
                <string>{572,282}</string>
                <key>textureRect</key>
                <string>{{1,1},{572,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,268}</string>
                <key>spriteSourceSize</key>
                <string>{580,268}</string>
                <key>textureRect</key>
                <string>{{575,1},{580,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,425}</string>
                <key>spriteSourceSize</key>
                <string>{264,425}</string>
                <key>textureRect</key>
                <string>{{1144,2404},{264,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,400}</string>
                <key>spriteSourceSize</key>
                <string>{311,400}</string>
                <key>textureRect</key>
                <string>{{1710,413},{311,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,367}</string>
                <key>spriteSourceSize</key>
                <string>{359,367}</string>
                <key>textureRect</key>
                <string>{{779,2625},{359,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,355}</string>
                <key>spriteSourceSize</key>
                <string>{424,355}</string>
                <key>textureRect</key>
                <string>{{1144,2047},{424,355}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,384}</string>
                <key>spriteSourceSize</key>
                <string>{442,384}</string>
                <key>textureRect</key>
                <string>{{545,2158},{442,384}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,400}</string>
                <key>spriteSourceSize</key>
                <string>{447,400}</string>
                <key>textureRect</key>
                <string>{{1,649},{447,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,406}</string>
                <key>spriteSourceSize</key>
                <string>{315,406}</string>
                <key>textureRect</key>
                <string>{{1570,2079},{315,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,387}</string>
                <key>spriteSourceSize</key>
                <string>{293,387}</string>
                <key>textureRect</key>
                <string>{{1710,815},{293,387}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,373}</string>
                <key>spriteSourceSize</key>
                <string>{252,373}</string>
                <key>textureRect</key>
                <string>{{779,2994},{252,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,402}</string>
                <key>spriteSourceSize</key>
                <string>{250,402}</string>
                <key>textureRect</key>
                <string>{{1270,2997},{250,402}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,440}</string>
                <key>spriteSourceSize</key>
                <string>{250,440}</string>
                <key>textureRect</key>
                <string>{{1527,2781},{250,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,470}</string>
                <key>spriteSourceSize</key>
                <string>{250,470}</string>
                <key>textureRect</key>
                <string>{{527,2684},{250,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,221}</string>
                <key>spriteSourceSize</key>
                <string>{559,221}</string>
                <key>textureRect</key>
                <string>{{490,452},{559,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{526,233}</string>
                <key>spriteSourceSize</key>
                <string>{526,233}</string>
                <key>textureRect</key>
                <string>{{1182,249},{526,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,279}</string>
                <key>spriteSourceSize</key>
                <string>{462,279}</string>
                <key>textureRect</key>
                <string>{{1704,1615},{462,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{446,306}</string>
                <key>spriteSourceSize</key>
                <string>{446,306}</string>
                <key>textureRect</key>
                <string>{{1402,733},{446,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,343}</string>
                <key>spriteSourceSize</key>
                <string>{472,343}</string>
                <key>textureRect</key>
                <string>{{450,675},{472,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,362}</string>
                <key>spriteSourceSize</key>
                <string>{487,362}</string>
                <key>textureRect</key>
                <string>{{1,285},{487,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{2022,3411}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:517db70c2aace3a9f841d4167ef8a215:222966d93eccd4e5d9fc3929ca2034c9:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
