<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{364,278}</string>
                <key>spriteSourceSize</key>
                <string>{364,278}</string>
                <key>textureRect</key>
                <string>{{1726,1},{364,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,272}</string>
                <key>spriteSourceSize</key>
                <string>{454,272}</string>
                <key>textureRect</key>
                <string>{{1719,367},{454,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,248}</string>
                <key>spriteSourceSize</key>
                <string>{567,248}</string>
                <key>textureRect</key>
                <string>{{1,227},{567,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{567,224}</string>
                <key>spriteSourceSize</key>
                <string>{567,224}</string>
                <key>textureRect</key>
                <string>{{1157,1},{567,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,246}</string>
                <key>spriteSourceSize</key>
                <string>{568,246}</string>
                <key>textureRect</key>
                <string>{{587,1},{568,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{467,268}</string>
                <key>spriteSourceSize</key>
                <string>{467,268}</string>
                <key>textureRect</key>
                <string>{{1,477},{467,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{383,338}</string>
                <key>spriteSourceSize</key>
                <string>{383,338}</string>
                <key>textureRect</key>
                <string>{{1130,3098},{383,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{412,354}</string>
                <key>spriteSourceSize</key>
                <string>{412,354}</string>
                <key>textureRect</key>
                <string>{{1297,1672},{412,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,386}</string>
                <key>spriteSourceSize</key>
                <string>{426,386}</string>
                <key>textureRect</key>
                <string>{{1,1810},{426,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,373}</string>
                <key>spriteSourceSize</key>
                <string>{409,373}</string>
                <key>textureRect</key>
                <string>{{852,1980},{409,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,381}</string>
                <key>spriteSourceSize</key>
                <string>{416,381}</string>
                <key>textureRect</key>
                <string>{{1,2198},{416,381}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{403,350}</string>
                <key>spriteSourceSize</key>
                <string>{403,350}</string>
                <key>textureRect</key>
                <string>{{1,2581},{403,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,320}</string>
                <key>spriteSourceSize</key>
                <string>{335,320}</string>
                <key>textureRect</key>
                <string>{{1189,2759},{335,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,355}</string>
                <key>spriteSourceSize</key>
                <string>{321,355}</string>
                <key>textureRect</key>
                <string>{{1664,2400},{321,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,435}</string>
                <key>spriteSourceSize</key>
                <string>{251,435}</string>
                <key>textureRect</key>
                <string>{{1534,1178},{251,435}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,458}</string>
                <key>spriteSourceSize</key>
                <string>{191,458}</string>
                <key>textureRect</key>
                <string>{{933,506},{191,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,462}</string>
                <key>spriteSourceSize</key>
                <string>{237,462}</string>
                <key>textureRect</key>
                <string>{{1131,468},{237,462}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,394}</string>
                <key>spriteSourceSize</key>
                <string>{311,394}</string>
                <key>textureRect</key>
                <string>{{1711,1672},{311,394}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{391,359}</string>
                <key>spriteSourceSize</key>
                <string>{391,359}</string>
                <key>textureRect</key>
                <string>{{1,2933},{391,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,347}</string>
                <key>spriteSourceSize</key>
                <string>{424,347}</string>
                <key>textureRect</key>
                <string>{{871,1631},{424,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{461,326}</string>
                <key>spriteSourceSize</key>
                <string>{461,326}</string>
                <key>textureRect</key>
                <string>{{470,506},{461,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,359}</string>
                <key>spriteSourceSize</key>
                <string>{454,359}</string>
                <key>textureRect</key>
                <string>{{1,747},{454,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{445,362}</string>
                <key>spriteSourceSize</key>
                <string>{445,362}</string>
                <key>textureRect</key>
                <string>{{1,1108},{445,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,379}</string>
                <key>spriteSourceSize</key>
                <string>{399,379}</string>
                <key>textureRect</key>
                <string>{{1263,2028},{399,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,362}</string>
                <key>spriteSourceSize</key>
                <string>{353,362}</string>
                <key>textureRect</key>
                <string>{{775,3098},{353,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,341}</string>
                <key>spriteSourceSize</key>
                <string>{438,341}</string>
                <key>textureRect</key>
                <string>{{448,1202},{438,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,239}</string>
                <key>spriteSourceSize</key>
                <string>{560,239}</string>
                <key>textureRect</key>
                <string>{{1157,227},{560,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{584,224}</string>
                <key>spriteSourceSize</key>
                <string>{584,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{584,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{559,255}</string>
                <key>spriteSourceSize</key>
                <string>{559,255}</string>
                <key>textureRect</key>
                <string>{{570,249},{559,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,324}</string>
                <key>spriteSourceSize</key>
                <string>{444,324}</string>
                <key>textureRect</key>
                <string>{{1126,707},{444,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{371,379}</string>
                <key>spriteSourceSize</key>
                <string>{371,379}</string>
                <key>textureRect</key>
                <string>{{394,3098},{371,379}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,376}</string>
                <key>spriteSourceSize</key>
                <string>{396,376}</string>
                <key>textureRect</key>
                <string>{{830,2355},{396,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{409,359}</string>
                <key>spriteSourceSize</key>
                <string>{409,359}</string>
                <key>textureRect</key>
                <string>{{419,2253},{409,359}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,343}</string>
                <key>spriteSourceSize</key>
                <string>{428,343}</string>
                <key>textureRect</key>
                <string>{{441,1545},{428,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,347}</string>
                <key>spriteSourceSize</key>
                <string>{430,347}</string>
                <key>textureRect</key>
                <string>{{1095,1282},{430,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{385,363}</string>
                <key>spriteSourceSize</key>
                <string>{385,363}</string>
                <key>textureRect</key>
                <string>{{802,2733},{385,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,330}</string>
                <key>spriteSourceSize</key>
                <string>{356,330}</string>
                <key>textureRect</key>
                <string>{{1664,2068},{356,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,387}</string>
                <key>spriteSourceSize</key>
                <string>{322,387}</string>
                <key>textureRect</key>
                <string>{{1619,2723},{322,387}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,437}</string>
                <key>spriteSourceSize</key>
                <string>{247,437}</string>
                <key>textureRect</key>
                <string>{{1095,1033},{247,437}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,419}</string>
                <key>spriteSourceSize</key>
                <string>{185,419}</string>
                <key>textureRect</key>
                <string>{{908,966},{185,419}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,429}</string>
                <key>spriteSourceSize</key>
                <string>{239,429}</string>
                <key>textureRect</key>
                <string>{{1527,1431},{239,429}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,378}</string>
                <key>spriteSourceSize</key>
                <string>{326,378}</string>
                <key>textureRect</key>
                <string>{{1515,3047},{326,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{394,338}</string>
                <key>spriteSourceSize</key>
                <string>{394,338}</string>
                <key>textureRect</key>
                <string>{{406,2614},{394,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,361}</string>
                <key>spriteSourceSize</key>
                <string>{421,361}</string>
                <key>textureRect</key>
                <string>{{429,1890},{421,361}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{449,366}</string>
                <key>spriteSourceSize</key>
                <string>{449,366}</string>
                <key>textureRect</key>
                <string>{{457,834},{449,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{438,336}</string>
                <key>spriteSourceSize</key>
                <string>{438,336}</string>
                <key>textureRect</key>
                <string>{{1,1472},{438,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,353}</string>
                <key>spriteSourceSize</key>
                <string>{442,353}</string>
                <key>textureRect</key>
                <string>{{1572,823},{442,353}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{389,348}</string>
                <key>spriteSourceSize</key>
                <string>{389,348}</string>
                <key>textureRect</key>
                <string>{{1228,2409},{389,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{2023,3470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be8813c803cb9dbd328e832b48343e86:b7e9c73c4a6de32395734afcdad8048c:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
