<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,163}</string>
                <key>spriteSourceSize</key>
                <string>{207,163}</string>
                <key>textureRect</key>
                <string>{{338,1081},{207,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,163}</string>
                <key>spriteSourceSize</key>
                <string>{207,163}</string>
                <key>textureRect</key>
                <string>{{547,1083},{207,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,167}</string>
                <key>spriteSourceSize</key>
                <string>{201,167}</string>
                <key>textureRect</key>
                <string>{{769,1248},{201,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,163}</string>
                <key>spriteSourceSize</key>
                <string>{206,163}</string>
                <key>textureRect</key>
                <string>{{756,1083},{206,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,164}</string>
                <key>spriteSourceSize</key>
                <string>{205,164}</string>
                <key>textureRect</key>
                <string>{{196,1246},{205,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,166}</string>
                <key>spriteSourceSize</key>
                <string>{195,166}</string>
                <key>textureRect</key>
                <string>{{403,1248},{195,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,162}</string>
                <key>spriteSourceSize</key>
                <string>{182,162}</string>
                <key>textureRect</key>
                <string>{{528,917},{182,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,161}</string>
                <key>spriteSourceSize</key>
                <string>{166,161}</string>
                <key>textureRect</key>
                <string>{{1,903},{166,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{328,747},{160,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,158}</string>
                <key>spriteSourceSize</key>
                <string>{168,158}</string>
                <key>textureRect</key>
                <string>{{855,597},{168,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,161}</string>
                <key>spriteSourceSize</key>
                <string>{186,161}</string>
                <key>textureRect</key>
                <string>{{169,909},{186,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,163}</string>
                <key>spriteSourceSize</key>
                <string>{193,163}</string>
                <key>textureRect</key>
                <string>{{1,1239},{193,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{165,167}</string>
                <key>textureRect</key>
                <string>{{1,1066},{165,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,166}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{491,753},{160,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,160}</string>
                <key>spriteSourceSize</key>
                <string>{168,160}</string>
                <key>textureRect</key>
                <string>{{659,755},{168,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,167}</string>
                <key>spriteSourceSize</key>
                <string>{166,167}</string>
                <key>textureRect</key>
                <string>{{600,1248},{166,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,169}</string>
                <key>spriteSourceSize</key>
                <string>{161,169}</string>
                <key>textureRect</key>
                <string>{{357,915},{161,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,165}</string>
                <key>spriteSourceSize</key>
                <string>{168,165}</string>
                <key>textureRect</key>
                <string>{{168,1072},{168,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,155}</string>
                <key>spriteSourceSize</key>
                <string>{168,155}</string>
                <key>textureRect</key>
                <string>{{166,585},{168,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,145}</string>
                <key>spriteSourceSize</key>
                <string>{182,145}</string>
                <key>textureRect</key>
                <string>{{1,137},{182,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,150}</string>
                <key>spriteSourceSize</key>
                <string>{187,150}</string>
                <key>textureRect</key>
                <string>{{337,437},{187,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,146}</string>
                <key>spriteSourceSize</key>
                <string>{179,146}</string>
                <key>textureRect</key>
                <string>{{569,140},{179,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,159}</string>
                <key>spriteSourceSize</key>
                <string>{164,159}</string>
                <key>textureRect</key>
                <string>{{162,742},{164,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,166}</string>
                <key>spriteSourceSize</key>
                <string>{162,166}</string>
                <key>textureRect</key>
                <string>{{712,919},{162,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,137}</string>
                <key>spriteSourceSize</key>
                <string>{201,137}</string>
                <key>textureRect</key>
                <string>{{406,1},{201,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,134}</string>
                <key>spriteSourceSize</key>
                <string>{200,134}</string>
                <key>textureRect</key>
                <string>{{1,1},{200,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,141}</string>
                <key>spriteSourceSize</key>
                <string>{196,141}</string>
                <key>textureRect</key>
                <string>{{812,1},{196,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,137}</string>
                <key>spriteSourceSize</key>
                <string>{201,137}</string>
                <key>textureRect</key>
                <string>{{609,1},{201,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,136}</string>
                <key>spriteSourceSize</key>
                <string>{201,136}</string>
                <key>textureRect</key>
                <string>{{203,1},{201,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,145}</string>
                <key>spriteSourceSize</key>
                <string>{197,145}</string>
                <key>textureRect</key>
                <string>{{185,139},{197,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,147}</string>
                <key>spriteSourceSize</key>
                <string>{177,147}</string>
                <key>textureRect</key>
                <string>{{750,144},{177,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,158}</string>
                <key>spriteSourceSize</key>
                <string>{159,158}</string>
                <key>textureRect</key>
                <string>{{1,741},{159,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,165}</string>
                <key>spriteSourceSize</key>
                <string>{147,165}</string>
                <key>textureRect</key>
                <string>{{1,284},{147,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,156}</string>
                <key>spriteSourceSize</key>
                <string>{163,156}</string>
                <key>textureRect</key>
                <string>{{1,583},{163,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,145}</string>
                <key>spriteSourceSize</key>
                <string>{183,145}</string>
                <key>textureRect</key>
                <string>{{384,140},{183,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,150}</string>
                <key>spriteSourceSize</key>
                <string>{191,150}</string>
                <key>textureRect</key>
                <string>{{526,443},{191,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,169}</string>
                <key>spriteSourceSize</key>
                <string>{147,169}</string>
                <key>textureRect</key>
                <string>{{168,286},{147,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,172}</string>
                <key>spriteSourceSize</key>
                <string>{148,172}</string>
                <key>textureRect</key>
                <string>{{676,293},{148,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,168}</string>
                <key>spriteSourceSize</key>
                <string>{148,168}</string>
                <key>textureRect</key>
                <string>{{850,293},{148,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,170}</string>
                <key>spriteSourceSize</key>
                <string>{147,170}</string>
                <key>textureRect</key>
                <string>{{339,287},{147,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,169}</string>
                <key>spriteSourceSize</key>
                <string>{148,169}</string>
                <key>textureRect</key>
                <string>{{166,435},{148,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,163}</string>
                <key>spriteSourceSize</key>
                <string>{147,163}</string>
                <key>textureRect</key>
                <string>{{511,288},{147,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{156,156}</string>
                <key>textureRect</key>
                <string>{{336,589},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,156}</string>
                <key>spriteSourceSize</key>
                <string>{181,156}</string>
                <key>textureRect</key>
                <string>{{494,595},{181,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,160}</string>
                <key>spriteSourceSize</key>
                <string>{192,160}</string>
                <key>textureRect</key>
                <string>{{829,757},{192,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,156}</string>
                <key>spriteSourceSize</key>
                <string>{176,156}</string>
                <key>textureRect</key>
                <string>{{677,597},{176,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,160}</string>
                <key>spriteSourceSize</key>
                <string>{152,160}</string>
                <key>textureRect</key>
                <string>{{719,443},{152,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,163}</string>
                <key>spriteSourceSize</key>
                <string>{148,163}</string>
                <key>textureRect</key>
                <string>{{1,433},{148,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1024,1416}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac79a4f084dcbfd0252c9b1b6bfbcffd:29f2d711bd4d1eb115414eb6d993de86:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
