<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,140}</string>
                <key>spriteSourceSize</key>
                <string>{201,140}</string>
                <key>textureRect</key>
                <string>{{2,128},{201,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,118}</string>
                <key>spriteSourceSize</key>
                <string>{172,118}</string>
                <key>textureRect</key>
                <string>{{747,140},{172,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,117}</string>
                <key>spriteSourceSize</key>
                <string>{155,117}</string>
                <key>textureRect</key>
                <string>{{714,600},{155,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{623,830},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,134}</string>
                <key>spriteSourceSize</key>
                <string>{131,134}</string>
                <key>textureRect</key>
                <string>{{761,954},{131,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,133}</string>
                <key>spriteSourceSize</key>
                <string>{150,133}</string>
                <key>textureRect</key>
                <string>{{725,316},{150,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,167}</string>
                <key>spriteSourceSize</key>
                <string>{151,167}</string>
                <key>textureRect</key>
                <string>{{869,136},{151,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,134}</string>
                <key>spriteSourceSize</key>
                <string>{193,134}</string>
                <key>textureRect</key>
                <string>{{650,2},{193,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,141}</string>
                <key>spriteSourceSize</key>
                <string>{172,141}</string>
                <key>textureRect</key>
                <string>{{571,140},{172,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,130}</string>
                <key>spriteSourceSize</key>
                <string>{173,130}</string>
                <key>textureRect</key>
                <string>{{847,2},{173,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,132}</string>
                <key>spriteSourceSize</key>
                <string>{163,132}</string>
                <key>textureRect</key>
                <string>{{547,578},{163,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,119}</string>
                <key>spriteSourceSize</key>
                <string>{203,119}</string>
                <key>textureRect</key>
                <string>{{443,2},{203,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,190}</string>
                <key>spriteSourceSize</key>
                <string>{120,190}</string>
                <key>textureRect</key>
                <string>{{131,638},{120,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,171}</string>
                <key>spriteSourceSize</key>
                <string>{118,171}</string>
                <key>textureRect</key>
                <string>{{366,689},{118,171}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,180}</string>
                <key>spriteSourceSize</key>
                <string>{103,180}</string>
                <key>textureRect</key>
                <string>{{363,833},{103,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,146}</string>
                <key>spriteSourceSize</key>
                <string>{139,146}</string>
                <key>textureRect</key>
                <string>{{879,307},{139,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,150}</string>
                <key>spriteSourceSize</key>
                <string>{136,150}</string>
                <key>textureRect</key>
                <string>{{878,457},{136,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,156}</string>
                <key>spriteSourceSize</key>
                <string>{155,156}</string>
                <key>textureRect</key>
                <string>{{565,285},{155,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,160}</string>
                <key>spriteSourceSize</key>
                <string>{178,160}</string>
                <key>textureRect</key>
                <string>{{2,272},{178,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,184}</string>
                <key>spriteSourceSize</key>
                <string>{111,184}</string>
                <key>textureRect</key>
                <string>{{130,843},{111,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,191}</string>
                <key>spriteSourceSize</key>
                <string>{107,191}</string>
                <key>textureRect</key>
                <string>{{255,638},{107,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,172}</string>
                <key>spriteSourceSize</key>
                <string>{110,172}</string>
                <key>textureRect</key>
                <string>{{371,575},{110,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,174}</string>
                <key>spriteSourceSize</key>
                <string>{114,174}</string>
                <key>textureRect</key>
                <string>{{245,833},{114,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,165}</string>
                <key>spriteSourceSize</key>
                <string>{95,165}</string>
                <key>textureRect</key>
                <string>{{541,714},{95,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,122}</string>
                <key>spriteSourceSize</key>
                <string>{220,122}</string>
                <key>textureRect</key>
                <string>{{2,2},{220,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,145}</string>
                <key>spriteSourceSize</key>
                <string>{193,145}</string>
                <key>textureRect</key>
                <string>{{2,436},{193,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,150}</string>
                <key>spriteSourceSize</key>
                <string>{183,150}</string>
                <key>textureRect</key>
                <string>{{384,125},{183,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,144}</string>
                <key>spriteSourceSize</key>
                <string>{155,144}</string>
                <key>textureRect</key>
                <string>{{417,279},{155,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,143}</string>
                <key>spriteSourceSize</key>
                <string>{156,143}</string>
                <key>textureRect</key>
                <string>{{718,453},{156,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,130}</string>
                <key>spriteSourceSize</key>
                <string>{167,130}</string>
                <key>textureRect</key>
                <string>{{547,444},{167,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,133}</string>
                <key>spriteSourceSize</key>
                <string>{172,133}</string>
                <key>textureRect</key>
                <string>{{371,438},{172,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,117}</string>
                <key>spriteSourceSize</key>
                <string>{213,117}</string>
                <key>textureRect</key>
                <string>{{226,2},{213,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,125}</string>
                <key>spriteSourceSize</key>
                <string>{206,125}</string>
                <key>textureRect</key>
                <string>{{2,633},{206,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,103}</string>
                <key>spriteSourceSize</key>
                <string>{198,103}</string>
                <key>textureRect</key>
                <string>{{151,436},{198,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,109}</string>
                <key>spriteSourceSize</key>
                <string>{192,109}</string>
                <key>textureRect</key>
                <string>{{258,436},{192,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,124}</string>
                <key>spriteSourceSize</key>
                <string>{203,124}</string>
                <key>textureRect</key>
                <string>{{2,843},{203,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,147}</string>
                <key>spriteSourceSize</key>
                <string>{125,147}</string>
                <key>textureRect</key>
                <string>{{288,285},{125,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,128}</string>
                <key>spriteSourceSize</key>
                <string>{144,128}</string>
                <key>textureRect</key>
                <string>{{873,611},{144,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,118}</string>
                <key>spriteSourceSize</key>
                <string>{138,118}</string>
                <key>textureRect</key>
                <string>{{470,944},{138,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,105}</string>
                <key>spriteSourceSize</key>
                <string>{156,105}</string>
                <key>textureRect</key>
                <string>{{710,721},{156,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,105}</string>
                <key>spriteSourceSize</key>
                <string>{149,105}</string>
                <key>textureRect</key>
                <string>{{870,743},{149,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,145}</string>
                <key>spriteSourceSize</key>
                <string>{154,145}</string>
                <key>textureRect</key>
                <string>{{226,123},{154,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,127}</string>
                <key>spriteSourceSize</key>
                <string>{149,127}</string>
                <key>textureRect</key>
                <string>{{470,813},{149,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,137}</string>
                <key>spriteSourceSize</key>
                <string>{106,137}</string>
                <key>textureRect</key>
                <string>{{612,966},{106,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,116}</string>
                <key>spriteSourceSize</key>
                <string>{96,116}</string>
                <key>textureRect</key>
                <string>{{899,953},{96,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,120}</string>
                <key>spriteSourceSize</key>
                <string>{96,120}</string>
                <key>textureRect</key>
                <string>{{761,830},{96,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,117}</string>
                <key>spriteSourceSize</key>
                <string>{97,117}</string>
                <key>textureRect</key>
                <string>{{861,852},{97,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,160}</string>
                <key>spriteSourceSize</key>
                <string>{100,160}</string>
                <key>textureRect</key>
                <string>{{184,272},{100,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{1022,1087}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05720660bb38ab540d055cc91ff134dd:d5136d045e818dfdf8cd11ee220b3c0f:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
