<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,184}</string>
                <key>spriteSourceSize</key>
                <string>{127,184}</string>
                <key>textureRect</key>
                <string>{{1,602},{127,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,218}</string>
                <key>spriteSourceSize</key>
                <string>{145,218}</string>
                <key>textureRect</key>
                <string>{{1,173},{145,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,136}</string>
                <key>spriteSourceSize</key>
                <string>{123,136}</string>
                <key>textureRect</key>
                <string>{{700,925},{123,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,120}</string>
                <key>spriteSourceSize</key>
                <string>{133,120}</string>
                <key>textureRect</key>
                <string>{{543,1048},{133,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,125}</string>
                <key>spriteSourceSize</key>
                <string>{166,125}</string>
                <key>textureRect</key>
                <string>{{256,440},{166,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,126}</string>
                <key>spriteSourceSize</key>
                <string>{169,126}</string>
                <key>textureRect</key>
                <string>{{128,393},{169,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,158}</string>
                <key>spriteSourceSize</key>
                <string>{152,158}</string>
                <key>textureRect</key>
                <string>{{250,567},{152,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,202}</string>
                <key>spriteSourceSize</key>
                <string>{154,202}</string>
                <key>textureRect</key>
                <string>{{215,1},{154,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,138}</string>
                <key>spriteSourceSize</key>
                <string>{160,138}</string>
                <key>textureRect</key>
                <string>{{256,300},{160,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,107}</string>
                <key>spriteSourceSize</key>
                <string>{180,107}</string>
                <key>textureRect</key>
                <string>{{768,654},{180,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,112}</string>
                <key>spriteSourceSize</key>
                <string>{196,112}</string>
                <key>textureRect</key>
                <string>{{1,788},{196,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,112}</string>
                <key>spriteSourceSize</key>
                <string>{195,112}</string>
                <key>textureRect</key>
                <string>{{1,986},{195,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,113}</string>
                <key>spriteSourceSize</key>
                <string>{186,113}</string>
                <key>textureRect</key>
                <string>{{115,788},{186,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,170}</string>
                <key>spriteSourceSize</key>
                <string>{212,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,118}</string>
                <key>spriteSourceSize</key>
                <string>{187,118}</string>
                <key>textureRect</key>
                <string>{{130,564},{187,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,93}</string>
                <key>spriteSourceSize</key>
                <string>{178,93}</string>
                <key>textureRect</key>
                <string>{{585,697},{178,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,118}</string>
                <key>spriteSourceSize</key>
                <string>{188,118}</string>
                <key>textureRect</key>
                <string>{{419,167},{188,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,118}</string>
                <key>spriteSourceSize</key>
                <string>{188,118}</string>
                <key>textureRect</key>
                <string>{{419,287},{188,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,129}</string>
                <key>spriteSourceSize</key>
                <string>{148,129}</string>
                <key>textureRect</key>
                <string>{{803,384},{148,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,125}</string>
                <key>spriteSourceSize</key>
                <string>{207,125}</string>
                <key>textureRect</key>
                <string>{{1,393},{207,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,148}</string>
                <key>spriteSourceSize</key>
                <string>{156,148}</string>
                <key>textureRect</key>
                <string>{{236,976},{156,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,131}</string>
                <key>spriteSourceSize</key>
                <string>{151,131}</string>
                <key>textureRect</key>
                <string>{{250,727},{151,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,142}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{765,763},{160,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,141}</string>
                <key>spriteSourceSize</key>
                <string>{161,141}</string>
                <key>textureRect</key>
                <string>{{256,157},{161,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,118}</string>
                <key>spriteSourceSize</key>
                <string>{120,118}</string>
                <key>textureRect</key>
                <string>{{665,1063},{120,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,137}</string>
                <key>spriteSourceSize</key>
                <string>{163,137}</string>
                <key>textureRect</key>
                <string>{{788,515},{163,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,150}</string>
                <key>spriteSourceSize</key>
                <string>{124,150}</string>
                <key>textureRect</key>
                <string>{{803,258},{124,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,151}</string>
                <key>spriteSourceSize</key>
                <string>{131,151}</string>
                <key>textureRect</key>
                <string>{{585,792},{131,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,142}</string>
                <key>spriteSourceSize</key>
                <string>{170,142}</string>
                <key>textureRect</key>
                <string>{{424,407},{170,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,135}</string>
                <key>spriteSourceSize</key>
                <string>{171,135}</string>
                <key>textureRect</key>
                <string>{{595,560},{171,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,114}</string>
                <key>spriteSourceSize</key>
                <string>{146,114}</string>
                <key>textureRect</key>
                <string>{{807,142},{146,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,114}</string>
                <key>spriteSourceSize</key>
                <string>{160,114}</string>
                <key>textureRect</key>
                <string>{{230,860},{160,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,115}</string>
                <key>spriteSourceSize</key>
                <string>{179,115}</string>
                <key>textureRect</key>
                <string>{{404,687},{179,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,119}</string>
                <key>spriteSourceSize</key>
                <string>{184,119}</string>
                <key>textureRect</key>
                <string>{{115,976},{184,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,111}</string>
                <key>spriteSourceSize</key>
                <string>{203,111}</string>
                <key>textureRect</key>
                <string>{{612,1},{203,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,106}</string>
                <key>spriteSourceSize</key>
                <string>{202,106}</string>
                <key>textureRect</key>
                <string>{{148,173},{202,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,136}</string>
                <key>spriteSourceSize</key>
                <string>{139,136}</string>
                <key>textureRect</key>
                <string>{{817,1},{139,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,134}</string>
                <key>spriteSourceSize</key>
                <string>{169,134}</string>
                <key>textureRect</key>
                <string>{{424,551},{169,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,111}</string>
                <key>spriteSourceSize</key>
                <string>{190,111}</string>
                <key>textureRect</key>
                <string>{{596,447},{190,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,99}</string>
                <key>spriteSourceSize</key>
                <string>{193,99}</string>
                <key>textureRect</key>
                <string>{{612,114},{193,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,113}</string>
                <key>spriteSourceSize</key>
                <string>{192,113}</string>
                <key>textureRect</key>
                <string>{{609,215},{192,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,115}</string>
                <key>spriteSourceSize</key>
                <string>{192,115}</string>
                <key>textureRect</key>
                <string>{{609,330},{192,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,159}</string>
                <key>spriteSourceSize</key>
                <string>{109,159}</string>
                <key>textureRect</key>
                <string>{{403,804},{109,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,191}</string>
                <key>spriteSourceSize</key>
                <string>{164,191}</string>
                <key>textureRect</key>
                <string>{{419,1},{164,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,125}</string>
                <key>spriteSourceSize</key>
                <string>{145,125}</string>
                <key>textureRect</key>
                <string>{{825,907},{145,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,119}</string>
                <key>spriteSourceSize</key>
                <string>{148,119}</string>
                <key>textureRect</key>
                <string>{{550,925},{148,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,131}</string>
                <key>spriteSourceSize</key>
                <string>{155,131}</string>
                <key>textureRect</key>
                <string>{{386,1048},{155,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,131}</string>
                <key>spriteSourceSize</key>
                <string>{156,131}</string>
                <key>textureRect</key>
                <string>{{392,915},{156,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{954,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df1e9afec6e7293293d18dc974445559:2d083fa66bdcd8b96ae392ff6a700b4f:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
