<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,164}</string>
                <key>spriteSourceSize</key>
                <string>{95,164}</string>
                <key>textureRect</key>
                <string>{{112,1043},{95,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,165}</string>
                <key>spriteSourceSize</key>
                <string>{95,165}</string>
                <key>textureRect</key>
                <string>{{112,876},{95,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,169}</string>
                <key>spriteSourceSize</key>
                <string>{92,169}</string>
                <key>textureRect</key>
                <string>{{112,705},{92,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,169}</string>
                <key>spriteSourceSize</key>
                <string>{88,169}</string>
                <key>textureRect</key>
                <string>{{327,408},{88,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,164}</string>
                <key>spriteSourceSize</key>
                <string>{90,164}</string>
                <key>textureRect</key>
                <string>{{208,1209},{90,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{94,164}</string>
                <key>textureRect</key>
                <string>{{112,1209},{94,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,142}</string>
                <key>spriteSourceSize</key>
                <string>{161,142}</string>
                <key>textureRect</key>
                <string>{{1,561},{161,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,141}</string>
                <key>spriteSourceSize</key>
                <string>{158,141}</string>
                <key>textureRect</key>
                <string>{{209,866},{158,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,140}</string>
                <key>spriteSourceSize</key>
                <string>{153,140}</string>
                <key>textureRect</key>
                <string>{{352,846},{153,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,142}</string>
                <key>spriteSourceSize</key>
                <string>{149,142}</string>
                <key>textureRect</key>
                <string>{{164,561},{149,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,139}</string>
                <key>spriteSourceSize</key>
                <string>{153,139}</string>
                <key>textureRect</key>
                <string>{{112,1375},{153,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,143}</string>
                <key>spriteSourceSize</key>
                <string>{159,143}</string>
                <key>textureRect</key>
                <string>{{206,705},{159,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,110}</string>
                <key>spriteSourceSize</key>
                <string>{202,110}</string>
                <key>textureRect</key>
                <string>{{1,339},{202,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,108}</string>
                <key>spriteSourceSize</key>
                <string>{202,108}</string>
                <key>textureRect</key>
                <string>{{1,451},{202,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,111}</string>
                <key>spriteSourceSize</key>
                <string>{205,111}</string>
                <key>textureRect</key>
                <string>{{1,1},{205,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,110}</string>
                <key>spriteSourceSize</key>
                <string>{204,110}</string>
                <key>textureRect</key>
                <string>{{1,114},{204,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,110}</string>
                <key>spriteSourceSize</key>
                <string>{204,110}</string>
                <key>textureRect</key>
                <string>{{208,1},{204,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,111}</string>
                <key>spriteSourceSize</key>
                <string>{203,111}</string>
                <key>textureRect</key>
                <string>{{1,226},{203,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,136}</string>
                <key>spriteSourceSize</key>
                <string>{147,136}</string>
                <key>textureRect</key>
                <string>{{206,269},{147,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,138}</string>
                <key>textureRect</key>
                <string>{{109,1516},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,144}</string>
                <key>spriteSourceSize</key>
                <string>{154,144}</string>
                <key>textureRect</key>
                <string>{{352,113},{154,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,144}</string>
                <key>spriteSourceSize</key>
                <string>{157,144}</string>
                <key>textureRect</key>
                <string>{{209,1026},{157,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,142}</string>
                <key>spriteSourceSize</key>
                <string>{154,142}</string>
                <key>textureRect</key>
                <string>{{208,113},{154,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,140}</string>
                <key>spriteSourceSize</key>
                <string>{151,140}</string>
                <key>textureRect</key>
                <string>{{355,1096},{151,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,139}</string>
                <key>spriteSourceSize</key>
                <string>{93,139}</string>
                <key>textureRect</key>
                <string>{{267,1375},{93,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,141}</string>
                <key>spriteSourceSize</key>
                <string>{93,141}</string>
                <key>textureRect</key>
                <string>{{355,1001},{93,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,148}</string>
                <key>spriteSourceSize</key>
                <string>{93,148}</string>
                <key>textureRect</key>
                <string>{{251,1666},{93,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,150}</string>
                <key>spriteSourceSize</key>
                <string>{91,150}</string>
                <key>textureRect</key>
                <string>{{396,1808},{91,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,146}</string>
                <key>spriteSourceSize</key>
                <string>{92,146}</string>
                <key>textureRect</key>
                <string>{{401,1660},{92,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,143}</string>
                <key>spriteSourceSize</key>
                <string>{94,143}</string>
                <key>textureRect</key>
                <string>{{351,750},{94,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,115}</string>
                <key>spriteSourceSize</key>
                <string>{148,115}</string>
                <key>textureRect</key>
                <string>{{261,1516},{148,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,112}</string>
                <key>spriteSourceSize</key>
                <string>{144,112}</string>
                <key>textureRect</key>
                <string>{{352,636},{144,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,118}</string>
                <key>spriteSourceSize</key>
                <string>{151,118}</string>
                <key>textureRect</key>
                <string>{{300,1249},{151,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,120}</string>
                <key>spriteSourceSize</key>
                <string>{152,120}</string>
                <key>textureRect</key>
                <string>{{205,407},{152,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,116}</string>
                <key>spriteSourceSize</key>
                <string>{148,116}</string>
                <key>textureRect</key>
                <string>{{1,1855},{148,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,115}</string>
                <key>spriteSourceSize</key>
                <string>{149,115}</string>
                <key>textureRect</key>
                <string>{{378,1509},{149,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,109}</string>
                <key>spriteSourceSize</key>
                <string>{190,109}</string>
                <key>textureRect</key>
                <string>{{1,901},{190,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,109}</string>
                <key>spriteSourceSize</key>
                <string>{188,109}</string>
                <key>textureRect</key>
                <string>{{1,1093},{188,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,109}</string>
                <key>spriteSourceSize</key>
                <string>{188,109}</string>
                <key>textureRect</key>
                <string>{{1,1283},{188,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,108}</string>
                <key>spriteSourceSize</key>
                <string>{187,108}</string>
                <key>textureRect</key>
                <string>{{1,1666},{187,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,106}</string>
                <key>spriteSourceSize</key>
                <string>{191,106}</string>
                <key>textureRect</key>
                <string>{{1,1473},{191,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,109}</string>
                <key>spriteSourceSize</key>
                <string>{194,109}</string>
                <key>textureRect</key>
                <string>{{1,705},{194,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,139}</string>
                <key>spriteSourceSize</key>
                <string>{135,139}</string>
                <key>textureRect</key>
                <string>{{259,1761},{135,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,138}</string>
                <key>spriteSourceSize</key>
                <string>{134,138}</string>
                <key>textureRect</key>
                <string>{{362,1369},{134,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,140}</string>
                <key>spriteSourceSize</key>
                <string>{138,140}</string>
                <key>textureRect</key>
                <string>{{119,1800},{138,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,142}</string>
                <key>spriteSourceSize</key>
                <string>{138,142}</string>
                <key>textureRect</key>
                <string>{{111,1656},{138,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,136}</string>
                <key>spriteSourceSize</key>
                <string>{141,136}</string>
                <key>textureRect</key>
                <string>{{355,498},{141,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,137}</string>
                <key>spriteSourceSize</key>
                <string>{141,137}</string>
                <key>textureRect</key>
                <string>{{355,269},{141,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{497,2004}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6f39c588ca8aa6411645febff1b1955:7ff9022ba42be77a18b1b85cc6186c14:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
