<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,158}</string>
                <key>spriteSourceSize</key>
                <string>{125,158}</string>
                <key>textureRect</key>
                <string>{{647,1},{125,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,159}</string>
                <key>spriteSourceSize</key>
                <string>{127,159}</string>
                <key>textureRect</key>
                <string>{{973,1},{127,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,158}</string>
                <key>spriteSourceSize</key>
                <string>{129,158}</string>
                <key>textureRect</key>
                <string>{{1620,1},{129,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,159}</string>
                <key>spriteSourceSize</key>
                <string>{128,159}</string>
                <key>textureRect</key>
                <string>{{1297,1},{128,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,163}</string>
                <key>spriteSourceSize</key>
                <string>{129,163}</string>
                <key>textureRect</key>
                <string>{{1780,1},{129,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,160}</string>
                <key>spriteSourceSize</key>
                <string>{130,160}</string>
                <key>textureRect</key>
                <string>{{154,121},{130,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,163}</string>
                <key>spriteSourceSize</key>
                <string>{136,163}</string>
                <key>textureRect</key>
                <string>{{1543,132},{136,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,161}</string>
                <key>spriteSourceSize</key>
                <string>{127,161}</string>
                <key>textureRect</key>
                <string>{{1134,1},{127,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,165}</string>
                <key>spriteSourceSize</key>
                <string>{150,165}</string>
                <key>textureRect</key>
                <string>{{1,391},{150,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,167}</string>
                <key>spriteSourceSize</key>
                <string>{165,167}</string>
                <key>textureRect</key>
                <string>{{1702,421},{165,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,168}</string>
                <key>spriteSourceSize</key>
                <string>{162,168}</string>
                <key>textureRect</key>
                <string>{{1532,421},{162,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,169}</string>
                <key>spriteSourceSize</key>
                <string>{149,169}</string>
                <key>textureRect</key>
                <string>{{1519,270},{149,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,160}</string>
                <key>spriteSourceSize</key>
                <string>{131,160}</string>
                <key>textureRect</key>
                <string>{{859,130},{131,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{126,164}</string>
                <key>textureRect</key>
                <string>{{807,1},{126,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,164}</string>
                <key>spriteSourceSize</key>
                <string>{143,164}</string>
                <key>textureRect</key>
                <string>{{1024,266},{143,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,157}</string>
                <key>spriteSourceSize</key>
                <string>{178,157}</string>
                <key>textureRect</key>
                <string>{{1352,421},{178,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,153}</string>
                <key>spriteSourceSize</key>
                <string>{182,153}</string>
                <key>textureRect</key>
                <string>{{325,400},{182,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,156}</string>
                <key>spriteSourceSize</key>
                <string>{158,156}</string>
                <key>textureRect</key>
                <string>{{686,404},{158,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,174}</string>
                <key>spriteSourceSize</key>
                <string>{136,174}</string>
                <key>textureRect</key>
                <string>{{1708,132},{136,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,174}</string>
                <key>spriteSourceSize</key>
                <string>{130,174}</string>
                <key>textureRect</key>
                <string>{{504,128},{130,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,186}</string>
                <key>spriteSourceSize</key>
                <string>{129,186}</string>
                <key>textureRect</key>
                <string>{{316,126},{129,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,187}</string>
                <key>spriteSourceSize</key>
                <string>{135,187}</string>
                <key>textureRect</key>
                <string>{{1354,131},{135,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,182}</string>
                <key>spriteSourceSize</key>
                <string>{138,182}</string>
                <key>textureRect</key>
                <string>{{362,260},{138,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,177}</string>
                <key>spriteSourceSize</key>
                <string>{137,177}</string>
                <key>textureRect</key>
                <string>{{183,257},{137,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,161}</string>
                <key>spriteSourceSize</key>
                <string>{137,161}</string>
                <key>textureRect</key>
                <string>{{1884,132},{137,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,156}</string>
                <key>spriteSourceSize</key>
                <string>{141,156}</string>
                <key>textureRect</key>
                <string>{{546,261},{141,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,172}</string>
                <key>spriteSourceSize</key>
                <string>{143,172}</string>
                <key>textureRect</key>
                <string>{{1190,268},{143,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,180}</string>
                <key>spriteSourceSize</key>
                <string>{136,180}</string>
                <key>textureRect</key>
                <string>{{1,253},{136,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,177}</string>
                <key>spriteSourceSize</key>
                <string>{130,177}</string>
                <key>textureRect</key>
                <string>{{680,129},{130,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,169}</string>
                <key>spriteSourceSize</key>
                <string>{133,169}</string>
                <key>textureRect</key>
                <string>{{1183,131},{133,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,147}</string>
                <key>spriteSourceSize</key>
                <string>{153,147}</string>
                <key>textureRect</key>
                <string>{{1364,268},{153,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,141}</string>
                <key>spriteSourceSize</key>
                <string>{150,141}</string>
                <key>textureRect</key>
                <string>{{704,261},{150,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,153}</string>
                <key>spriteSourceSize</key>
                <string>{175,153}</string>
                <key>textureRect</key>
                <string>{{509,404},{175,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,164}</string>
                <key>spriteSourceSize</key>
                <string>{188,164}</string>
                <key>textureRect</key>
                <string>{{1871,422},{188,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,149}</string>
                <key>spriteSourceSize</key>
                <string>{180,149}</string>
                <key>textureRect</key>
                <string>{{1690,270},{180,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,142}</string>
                <key>spriteSourceSize</key>
                <string>{166,142}</string>
                <key>textureRect</key>
                <string>{{856,263},{166,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,152}</string>
                <key>spriteSourceSize</key>
                <string>{149,152}</string>
                <key>textureRect</key>
                <string>{{1872,271},{149,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,151}</string>
                <key>spriteSourceSize</key>
                <string>{129,151}</string>
                <key>textureRect</key>
                <string>{{1,120},{129,151}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,155}</string>
                <key>spriteSourceSize</key>
                <string>{151,155}</string>
                <key>textureRect</key>
                <string>{{168,396},{151,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,154}</string>
                <key>spriteSourceSize</key>
                <string>{171,154}</string>
                <key>textureRect</key>
                <string>{{1017,411},{171,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,153}</string>
                <key>spriteSourceSize</key>
                <string>{169,153}</string>
                <key>textureRect</key>
                <string>{{846,407},{169,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,156}</string>
                <key>textureRect</key>
                <string>{{1190,413},{160,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,160}</string>
                <key>spriteSourceSize</key>
                <string>{131,160}</string>
                <key>textureRect</key>
                <string>{{1021,130},{131,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,161}</string>
                <key>spriteSourceSize</key>
                <string>{123,161}</string>
                <key>textureRect</key>
                <string>{{323,1},{123,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,160}</string>
                <key>spriteSourceSize</key>
                <string>{117,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,160}</string>
                <key>spriteSourceSize</key>
                <string>{128,160}</string>
                <key>textureRect</key>
                <string>{{1458,1},{128,160}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,159}</string>
                <key>spriteSourceSize</key>
                <string>{123,159}</string>
                <key>textureRect</key>
                <string>{{486,1},{123,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,158}</string>
                <key>spriteSourceSize</key>
                <string>{118,158}</string>
                <key>textureRect</key>
                <string>{{163,1},{118,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{2046,611}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:020512b406e5e31a0a74f7b66d5f4472:715101c3d49edb26b6b6b141d41d07ee:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
