<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,182}</string>
                <key>spriteSourceSize</key>
                <string>{116,182}</string>
                <key>textureRect</key>
                <string>{{830,632},{116,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,176}</string>
                <key>spriteSourceSize</key>
                <string>{129,176}</string>
                <key>textureRect</key>
                <string>{{1182,616},{129,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,227}</string>
                <key>spriteSourceSize</key>
                <string>{167,227}</string>
                <key>textureRect</key>
                <string>{{281,1},{167,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,176}</string>
                <key>spriteSourceSize</key>
                <string>{150,176}</string>
                <key>textureRect</key>
                <string>{{1360,599},{150,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,153}</string>
                <key>spriteSourceSize</key>
                <string>{151,153}</string>
                <key>textureRect</key>
                <string>{{1690,188},{151,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,157}</string>
                <key>spriteSourceSize</key>
                <string>{151,157}</string>
                <key>textureRect</key>
                <string>{{1845,162},{151,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,163}</string>
                <key>spriteSourceSize</key>
                <string>{192,163}</string>
                <key>textureRect</key>
                <string>{{1405,392},{192,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,134}</string>
                <key>spriteSourceSize</key>
                <string>{208,134}</string>
                <key>textureRect</key>
                <string>{{694,436},{208,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,186}</string>
                <key>spriteSourceSize</key>
                <string>{239,186}</string>
                <key>textureRect</key>
                <string>{{105,506},{239,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,159}</string>
                <key>spriteSourceSize</key>
                <string>{207,159}</string>
                <key>textureRect</key>
                <string>{{769,215},{207,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,153}</string>
                <key>spriteSourceSize</key>
                <string>{204,153}</string>
                <key>textureRect</key>
                <string>{{930,210},{204,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,157}</string>
                <key>spriteSourceSize</key>
                <string>{193,157}</string>
                <key>textureRect</key>
                <string>{{1385,197},{193,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,110}</string>
                <key>spriteSourceSize</key>
                <string>{246,110}</string>
                <key>textureRect</key>
                <string>{{1,258},{246,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,114}</string>
                <key>spriteSourceSize</key>
                <string>{231,114}</string>
                <key>textureRect</key>
                <string>{{278,236},{231,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,156}</string>
                <key>spriteSourceSize</key>
                <string>{255,156}</string>
                <key>textureRect</key>
                <string>{{1,1},{255,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,120}</string>
                <key>spriteSourceSize</key>
                <string>{233,120}</string>
                <key>textureRect</key>
                <string>{{159,1},{233,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,115}</string>
                <key>spriteSourceSize</key>
                <string>{223,115}</string>
                <key>textureRect</key>
                <string>{{450,1},{223,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,116}</string>
                <key>spriteSourceSize</key>
                <string>{218,116}</string>
                <key>textureRect</key>
                <string>{{567,1},{218,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,140}</string>
                <key>spriteSourceSize</key>
                <string>{207,140}</string>
                <key>textureRect</key>
                <string>{{824,1},{207,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,146}</string>
                <key>spriteSourceSize</key>
                <string>{170,146}</string>
                <key>textureRect</key>
                <string>{{1697,568},{170,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,144}</string>
                <key>spriteSourceSize</key>
                <string>{192,144}</string>
                <key>textureRect</key>
                <string>{{1544,196},{192,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,146}</string>
                <key>spriteSourceSize</key>
                <string>{206,146}</string>
                <key>textureRect</key>
                <string>{{830,424},{206,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,155}</string>
                <key>spriteSourceSize</key>
                <string>{203,155}</string>
                <key>textureRect</key>
                <string>{{1085,207},{203,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,152}</string>
                <key>spriteSourceSize</key>
                <string>{204,152}</string>
                <key>textureRect</key>
                <string>{{966,1},{204,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,164}</string>
                <key>spriteSourceSize</key>
                <string>{124,164}</string>
                <key>textureRect</key>
                <string>{{1705,1},{124,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,166}</string>
                <key>spriteSourceSize</key>
                <string>{125,166}</string>
                <key>textureRect</key>
                <string>{{1014,622},{125,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,169}</string>
                <key>spriteSourceSize</key>
                <string>{176,169}</string>
                <key>textureRect</key>
                <string>{{1570,390},{176,169}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,150}</string>
                <key>spriteSourceSize</key>
                <string>{153,150}</string>
                <key>textureRect</key>
                <string>{{1845,486},{153,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,163}</string>
                <key>spriteSourceSize</key>
                <string>{150,163}</string>
                <key>textureRect</key>
                <string>{{1845,321},{150,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,159}</string>
                <key>spriteSourceSize</key>
                <string>{151,159}</string>
                <key>textureRect</key>
                <string>{{1845,1},{151,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,142}</string>
                <key>spriteSourceSize</key>
                <string>{185,142}</string>
                <key>textureRect</key>
                <string>{{1561,1},{185,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,130}</string>
                <key>spriteSourceSize</key>
                <string>{203,130}</string>
                <key>textureRect</key>
                <string>{{1120,1},{203,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,154}</string>
                <key>spriteSourceSize</key>
                <string>{213,154}</string>
                <key>textureRect</key>
                <string>{{613,221},{213,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,142}</string>
                <key>spriteSourceSize</key>
                <string>{202,142}</string>
                <key>textureRect</key>
                <string>{{1117,412},{202,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,137}</string>
                <key>spriteSourceSize</key>
                <string>{212,137}</string>
                <key>textureRect</key>
                <string>{{685,1},{212,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,137}</string>
                <key>spriteSourceSize</key>
                <string>{204,137}</string>
                <key>textureRect</key>
                <string>{{978,416},{204,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,102}</string>
                <key>spriteSourceSize</key>
                <string>{241,102}</string>
                <key>textureRect</key>
                <string>{{1,506},{241,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,121}</string>
                <key>spriteSourceSize</key>
                <string>{227,121}</string>
                <key>textureRect</key>
                <string>{{293,469},{227,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,163}</string>
                <key>spriteSourceSize</key>
                <string>{236,163}</string>
                <key>textureRect</key>
                <string>{{113,258},{236,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,107}</string>
                <key>spriteSourceSize</key>
                <string>{217,107}</string>
                <key>textureRect</key>
                <string>{{585,447},{217,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,107}</string>
                <key>spriteSourceSize</key>
                <string>{227,107}</string>
                <key>textureRect</key>
                <string>{{394,230},{227,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,108}</string>
                <key>spriteSourceSize</key>
                <string>{219,108}</string>
                <key>textureRect</key>
                <string>{{503,226},{219,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,149}</string>
                <key>spriteSourceSize</key>
                <string>{193,149}</string>
                <key>textureRect</key>
                <string>{{1410,1},{193,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,157}</string>
                <key>spriteSourceSize</key>
                <string>{163,157}</string>
                <key>textureRect</key>
                <string>{{1538,586},{163,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,219}</string>
                <key>spriteSourceSize</key>
                <string>{167,219}</string>
                <key>textureRect</key>
                <string>{{416,459},{167,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,156}</string>
                <key>spriteSourceSize</key>
                <string>{194,156}</string>
                <key>textureRect</key>
                <string>{{1252,1},{194,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,141}</string>
                <key>spriteSourceSize</key>
                <string>{195,141}</string>
                <key>textureRect</key>
                <string>{{1242,206},{195,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,142}</string>
                <key>spriteSourceSize</key>
                <string>{194,142}</string>
                <key>textureRect</key>
                <string>{{1261,403},{194,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{1997,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20d48205429a8297ca8fa844bc5855d9:f18b42c1ce9c0c9892edcd2e6cec7a18:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
