<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,196}</string>
                <key>spriteSourceSize</key>
                <string>{296,196}</string>
                <key>textureRect</key>
                <string>{{385,504},{296,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,216}</string>
                <key>spriteSourceSize</key>
                <string>{359,216}</string>
                <key>textureRect</key>
                <string>{{1,233},{359,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,222}</string>
                <key>spriteSourceSize</key>
                <string>{329,222}</string>
                <key>textureRect</key>
                <string>{{701,1},{329,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,178}</string>
                <key>spriteSourceSize</key>
                <string>{325,178}</string>
                <key>textureRect</key>
                <string>{{1,940},{325,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,145}</string>
                <key>spriteSourceSize</key>
                <string>{223,145}</string>
                <key>textureRect</key>
                <string>{{1177,1218},{223,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,152}</string>
                <key>spriteSourceSize</key>
                <string>{240,152}</string>
                <key>textureRect</key>
                <string>{{1200,1064},{240,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,236}</string>
                <key>spriteSourceSize</key>
                <string>{260,236}</string>
                <key>textureRect</key>
                <string>{{683,494},{260,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,267}</string>
                <key>spriteSourceSize</key>
                <string>{276,267}</string>
                <key>textureRect</key>
                <string>{{665,225},{276,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,242}</string>
                <key>spriteSourceSize</key>
                <string>{302,242}</string>
                <key>textureRect</key>
                <string>{{1337,1},{302,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,232}</string>
                <key>spriteSourceSize</key>
                <string>{276,232}</string>
                <key>textureRect</key>
                <string>{{1500,467},{276,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,176}</string>
                <key>spriteSourceSize</key>
                <string>{215,176}</string>
                <key>textureRect</key>
                <string>{{227,1216},{215,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,176}</string>
                <key>spriteSourceSize</key>
                <string>{234,176}</string>
                <key>textureRect</key>
                <string>{{834,1179},{234,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,244}</string>
                <key>spriteSourceSize</key>
                <string>{207,244}</string>
                <key>textureRect</key>
                <string>{{405,1196},{207,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,272}</string>
                <key>spriteSourceSize</key>
                <string>{245,272}</string>
                <key>textureRect</key>
                <string>{{945,464},{245,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,258}</string>
                <key>spriteSourceSize</key>
                <string>{244,258}</string>
                <key>textureRect</key>
                <string>{{397,936},{244,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,249}</string>
                <key>spriteSourceSize</key>
                <string>{237,249}</string>
                <key>textureRect</key>
                <string>{{1778,467},{237,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,195}</string>
                <key>spriteSourceSize</key>
                <string>{203,195}</string>
                <key>textureRect</key>
                <string>{{1402,1221},{203,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,190}</string>
                <key>spriteSourceSize</key>
                <string>{202,190}</string>
                <key>textureRect</key>
                <string>{{1607,1221},{202,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,234}</string>
                <key>spriteSourceSize</key>
                <string>{279,234}</string>
                <key>textureRect</key>
                <string>{{1219,465},{279,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,218}</string>
                <key>spriteSourceSize</key>
                <string>{340,218}</string>
                <key>textureRect</key>
                <string>{{359,1},{340,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,228}</string>
                <key>spriteSourceSize</key>
                <string>{303,228}</string>
                <key>textureRect</key>
                <string>{{1032,1},{303,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,218}</string>
                <key>spriteSourceSize</key>
                <string>{297,218}</string>
                <key>textureRect</key>
                <string>{{1239,245},{297,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,181}</string>
                <key>spriteSourceSize</key>
                <string>{233,181}</string>
                <key>textureRect</key>
                <string>{{651,1177},{233,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,163}</string>
                <key>spriteSourceSize</key>
                <string>{238,163}</string>
                <key>textureRect</key>
                <string>{{1012,1132},{238,163}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,182}</string>
                <key>spriteSourceSize</key>
                <string>{295,182}</string>
                <key>textureRect</key>
                <string>{{1219,701},{295,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,185}</string>
                <key>spriteSourceSize</key>
                <string>{344,185}</string>
                <key>textureRect</key>
                <string>{{1,594},{344,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,164}</string>
                <key>spriteSourceSize</key>
                <string>{326,164}</string>
                <key>textureRect</key>
                <string>{{219,233},{326,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,155}</string>
                <key>spriteSourceSize</key>
                <string>{324,155}</string>
                <key>textureRect</key>
                <string>{{188,594},{324,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,148}</string>
                <key>spriteSourceSize</key>
                <string>{248,148}</string>
                <key>textureRect</key>
                <string>{{855,929},{248,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,144}</string>
                <key>spriteSourceSize</key>
                <string>{252,144}</string>
                <key>textureRect</key>
                <string>{{1437,911},{252,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,220}</string>
                <key>spriteSourceSize</key>
                <string>{290,220}</string>
                <key>textureRect</key>
                <string>{{1538,245},{290,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,281}</string>
                <key>spriteSourceSize</key>
                <string>{278,281}</string>
                <key>textureRect</key>
                <string>{{385,221},{278,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,231}</string>
                <key>spriteSourceSize</key>
                <string>{294,231}</string>
                <key>textureRect</key>
                <string>{{943,231},{294,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,195}</string>
                <key>spriteSourceSize</key>
                <string>{286,195}</string>
                <key>textureRect</key>
                <string>{{629,732},{286,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,162}</string>
                <key>spriteSourceSize</key>
                <string>{231,162}</string>
                <key>textureRect</key>
                <string>{{1442,1057},{231,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,166}</string>
                <key>spriteSourceSize</key>
                <string>{224,166}</string>
                <key>textureRect</key>
                <string>{{1,1267},{224,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,246}</string>
                <key>spriteSourceSize</key>
                <string>{210,246}</string>
                <key>textureRect</key>
                <string>{{643,929},{210,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,282}</string>
                <key>spriteSourceSize</key>
                <string>{232,282}</string>
                <key>textureRect</key>
                <string>{{345,702},{232,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,259}</string>
                <key>spriteSourceSize</key>
                <string>{208,259}</string>
                <key>textureRect</key>
                <string>{{1516,701},{208,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,249}</string>
                <key>spriteSourceSize</key>
                <string>{222,249}</string>
                <key>textureRect</key>
                <string>{{1777,706},{222,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,158}</string>
                <key>spriteSourceSize</key>
                <string>{205,158}</string>
                <key>textureRect</key>
                <string>{{1012,711},{205,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,172}</string>
                <key>textureRect</key>
                <string>{{1691,930},{200,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,193}</string>
                <key>spriteSourceSize</key>
                <string>{259,193}</string>
                <key>textureRect</key>
                <string>{{1005,871},{259,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,230}</string>
                <key>spriteSourceSize</key>
                <string>{356,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,242}</string>
                <key>spriteSourceSize</key>
                <string>{293,242}</string>
                <key>textureRect</key>
                <string>{{1641,1},{293,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,214}</string>
                <key>spriteSourceSize</key>
                <string>{274,214}</string>
                <key>textureRect</key>
                <string>{{181,940},{274,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,162}</string>
                <key>spriteSourceSize</key>
                <string>{219,162}</string>
                <key>textureRect</key>
                <string>{{1830,245},{219,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,177}</string>
                <key>spriteSourceSize</key>
                <string>{235,177}</string>
                <key>textureRect</key>
                <string>{{1200,885},{235,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{2028,1434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a8faa8c07f6bce39a481e0f34fb7492:5c3ba45938c5c85fda632a20231b963b:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
