<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,196}</string>
                <key>spriteSourceSize</key>
                <string>{432,196}</string>
                <key>textureRect</key>
                <string>{{1,193},{432,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,195}</string>
                <key>spriteSourceSize</key>
                <string>{427,195}</string>
                <key>textureRect</key>
                <string>{{1292,1},{427,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,198}</string>
                <key>spriteSourceSize</key>
                <string>{426,198}</string>
                <key>textureRect</key>
                <string>{{863,197},{426,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,196}</string>
                <key>spriteSourceSize</key>
                <string>{426,196}</string>
                <key>textureRect</key>
                <string>{{435,193},{426,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{429,190}</string>
                <key>spriteSourceSize</key>
                <string>{429,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{429,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,190}</string>
                <key>spriteSourceSize</key>
                <string>{434,190}</string>
                <key>textureRect</key>
                <string>{{432,1},{434,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,267}</string>
                <key>spriteSourceSize</key>
                <string>{330,267}</string>
                <key>textureRect</key>
                <string>{{325,1592},{330,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,270}</string>
                <key>spriteSourceSize</key>
                <string>{334,270}</string>
                <key>textureRect</key>
                <string>{{657,1605},{334,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,257}</string>
                <key>spriteSourceSize</key>
                <string>{338,257}</string>
                <key>textureRect</key>
                <string>{{1035,1355},{338,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,246}</string>
                <key>spriteSourceSize</key>
                <string>{351,246}</string>
                <key>textureRect</key>
                <string>{{1,1079},{351,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,247}</string>
                <key>spriteSourceSize</key>
                <string>{349,247}</string>
                <key>textureRect</key>
                <string>{{1648,856},{349,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,254}</string>
                <key>spriteSourceSize</key>
                <string>{339,254}</string>
                <key>textureRect</key>
                <string>{{1,1327},{339,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,324}</string>
                <key>spriteSourceSize</key>
                <string>{249,324}</string>
                <key>textureRect</key>
                <string>{{1322,851},{249,324}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,329}</string>
                <key>spriteSourceSize</key>
                <string>{251,329}</string>
                <key>textureRect</key>
                <string>{{1078,1102},{251,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,329}</string>
                <key>spriteSourceSize</key>
                <string>{252,329}</string>
                <key>textureRect</key>
                <string>{{1409,1105},{252,329}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,321}</string>
                <key>spriteSourceSize</key>
                <string>{246,321}</string>
                <key>textureRect</key>
                <string>{{318,831},{246,321}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,313}</string>
                <key>spriteSourceSize</key>
                <string>{240,313}</string>
                <key>textureRect</key>
                <string>{{1731,301},{240,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,315}</string>
                <key>spriteSourceSize</key>
                <string>{243,315}</string>
                <key>textureRect</key>
                <string>{{1,819},{243,315}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,280}</string>
                <key>spriteSourceSize</key>
                <string>{338,280}</string>
                <key>textureRect</key>
                <string>{{1630,1752},{338,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,287}</string>
                <key>spriteSourceSize</key>
                <string>{337,287}</string>
                <key>textureRect</key>
                <string>{{628,1877},{337,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,289}</string>
                <key>spriteSourceSize</key>
                <string>{322,289}</string>
                <key>textureRect</key>
                <string>{{967,1892},{322,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,285}</string>
                <key>spriteSourceSize</key>
                <string>{308,285}</string>
                <key>textureRect</key>
                <string>{{318,1861},{308,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,280}</string>
                <key>spriteSourceSize</key>
                <string>{315,280}</string>
                <key>textureRect</key>
                <string>{{1,1851},{315,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,277}</string>
                <key>spriteSourceSize</key>
                <string>{325,277}</string>
                <key>textureRect</key>
                <string>{{1303,1620},{325,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,199}</string>
                <key>spriteSourceSize</key>
                <string>{432,199}</string>
                <key>textureRect</key>
                <string>{{862,402},{432,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,197}</string>
                <key>spriteSourceSize</key>
                <string>{433,197}</string>
                <key>textureRect</key>
                <string>{{1,391},{433,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{433,207}</string>
                <key>spriteSourceSize</key>
                <string>{433,207}</string>
                <key>textureRect</key>
                <string>{{1296,402},{433,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{426,202}</string>
                <key>spriteSourceSize</key>
                <string>{426,202}</string>
                <key>textureRect</key>
                <string>{{1291,198},{426,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,194}</string>
                <key>spriteSourceSize</key>
                <string>{422,194}</string>
                <key>textureRect</key>
                <string>{{868,1},{422,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{424,204}</string>
                <key>spriteSourceSize</key>
                <string>{424,204}</string>
                <key>textureRect</key>
                <string>{{436,391},{424,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,259}</string>
                <key>spriteSourceSize</key>
                <string>{353,259}</string>
                <key>textureRect</key>
                <string>{{1375,1359},{353,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,249}</string>
                <key>spriteSourceSize</key>
                <string>{359,249}</string>
                <key>textureRect</key>
                <string>{{717,1096},{359,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,246}</string>
                <key>spriteSourceSize</key>
                <string>{361,246}</string>
                <key>textureRect</key>
                <string>{{354,1089},{361,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{363,238}</string>
                <key>spriteSourceSize</key>
                <string>{363,238}</string>
                <key>textureRect</key>
                <string>{{982,611},{363,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,243}</string>
                <key>spriteSourceSize</key>
                <string>{357,243}</string>
                <key>textureRect</key>
                <string>{{963,851},{357,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,253}</string>
                <key>spriteSourceSize</key>
                <string>{352,253}</string>
                <key>textureRect</key>
                <string>{{342,1337},{352,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,326}</string>
                <key>spriteSourceSize</key>
                <string>{232,326}</string>
                <key>textureRect</key>
                <string>{{334,597},{232,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,318}</string>
                <key>spriteSourceSize</key>
                <string>{236,318}</string>
                <key>textureRect</key>
                <string>{{662,603},{236,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,316}</string>
                <key>spriteSourceSize</key>
                <string>{238,316}</string>
                <key>textureRect</key>
                <string>{{1347,611},{238,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,320}</string>
                <key>spriteSourceSize</key>
                <string>{246,320}</string>
                <key>textureRect</key>
                <string>{{641,841},{246,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,326}</string>
                <key>spriteSourceSize</key>
                <string>{238,326}</string>
                <key>textureRect</key>
                <string>{{1665,616},{238,326}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,331}</string>
                <key>spriteSourceSize</key>
                <string>{227,331}</string>
                <key>textureRect</key>
                <string>{{1,590},{227,331}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,256}</string>
                <key>spriteSourceSize</key>
                <string>{337,256}</string>
                <key>textureRect</key>
                <string>{{696,1347},{337,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,257}</string>
                <key>spriteSourceSize</key>
                <string>{329,257}</string>
                <key>textureRect</key>
                <string>{{1740,1105},{329,257}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{314,264}</string>
                <key>spriteSourceSize</key>
                <string>{314,264}</string>
                <key>textureRect</key>
                <string>{{1730,1436},{314,264}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,275}</string>
                <key>spriteSourceSize</key>
                <string>{298,275}</string>
                <key>textureRect</key>
                <string>{{1721,1},{298,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,276}</string>
                <key>spriteSourceSize</key>
                <string>{308,276}</string>
                <key>textureRect</key>
                <string>{{993,1614},{308,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,266}</string>
                <key>spriteSourceSize</key>
                <string>{322,266}</string>
                <key>textureRect</key>
                <string>{{1,1583},{322,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1998,2182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0de71ed55176a29bbc06b0118dbab710:ef0f2f708c48328bb4662c41f794ea8b:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
