<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,107}</string>
                <key>spriteSourceSize</key>
                <string>{109,107}</string>
                <key>textureRect</key>
                <string>{{252,221},{109,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,99}</string>
                <key>spriteSourceSize</key>
                <string>{109,99}</string>
                <key>textureRect</key>
                <string>{{1094,122},{109,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{90,126}</string>
                <key>textureRect</key>
                <string>{{610,104},{90,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,147}</string>
                <key>spriteSourceSize</key>
                <string>{67,147}</string>
                <key>textureRect</key>
                <string>{{138,98},{67,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,102}</string>
                <key>spriteSourceSize</key>
                <string>{114,102}</string>
                <key>textureRect</key>
                <string>{{866,119},{114,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,103}</string>
                <key>textureRect</key>
                <string>{{581,225},{94,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,105}</string>
                <key>spriteSourceSize</key>
                <string>{96,105}</string>
                <key>textureRect</key>
                <string>{{1077,223},{96,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,99}</string>
                <key>spriteSourceSize</key>
                <string>{127,99}</string>
                <key>textureRect</key>
                <string>{{481,104},{127,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,116}</string>
                <key>spriteSourceSize</key>
                <string>{145,116}</string>
                <key>textureRect</key>
                <string>{{928,1},{145,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,123}</string>
                <key>spriteSourceSize</key>
                <string>{151,123}</string>
                <key>textureRect</key>
                <string>{{1,148},{151,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,105}</string>
                <key>spriteSourceSize</key>
                <string>{106,105}</string>
                <key>textureRect</key>
                <string>{{865,223},{106,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{1299,119},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,108}</string>
                <key>spriteSourceSize</key>
                <string>{103,108}</string>
                <key>textureRect</key>
                <string>{{1940,1},{103,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,106}</string>
                <key>textureRect</key>
                <string>{{1810,1},{128,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,104}</string>
                <key>spriteSourceSize</key>
                <string>{154,104}</string>
                <key>textureRect</key>
                <string>{{319,1},{154,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,95}</string>
                <key>spriteSourceSize</key>
                <string>{179,95}</string>
                <key>textureRect</key>
                <string>{{138,1},{179,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,91}</string>
                <key>spriteSourceSize</key>
                <string>{118,91}</string>
                <key>textureRect</key>
                <string>{{772,189},{118,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{99,92}</string>
                <key>textureRect</key>
                <string>{{1205,122},{99,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{1401,225},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,123}</string>
                <key>spriteSourceSize</key>
                <string>{124,123}</string>
                <key>textureRect</key>
                <string>{{126,167},{124,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,125}</string>
                <key>spriteSourceSize</key>
                <string>{114,125}</string>
                <key>textureRect</key>
                <string>{{1769,109},{114,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,116}</string>
                <key>spriteSourceSize</key>
                <string>{137,116}</string>
                <key>textureRect</key>
                <string>{{1366,1},{137,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,81}</string>
                <key>spriteSourceSize</key>
                <string>{112,81}</string>
                <key>textureRect</key>
                <string>{{287,107},{112,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,94}</string>
                <key>spriteSourceSize</key>
                <string>{104,94}</string>
                <key>textureRect</key>
                <string>{{1175,223},{104,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,109}</string>
                <key>spriteSourceSize</key>
                <string>{110,109}</string>
                <key>textureRect</key>
                <string>{{370,107},{110,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,148}</string>
                <key>spriteSourceSize</key>
                <string>{101,148}</string>
                <key>textureRect</key>
                <string>{{630,1},{101,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,132}</string>
                <key>spriteSourceSize</key>
                <string>{93,132}</string>
                <key>textureRect</key>
                <string>{{1505,85},{93,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,126}</string>
                <key>spriteSourceSize</key>
                <string>{79,126}</string>
                <key>textureRect</key>
                <string>{{738,108},{79,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,87}</string>
                <key>spriteSourceSize</key>
                <string>{100,87}</string>
                <key>textureRect</key>
                <string>{{1813,235},{100,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{102,100}</string>
                <key>textureRect</key>
                <string>{{1504,180},{102,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,110}</string>
                <key>spriteSourceSize</key>
                <string>{99,110}</string>
                <key>textureRect</key>
                <string>{{982,122},{99,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,145}</string>
                <key>spriteSourceSize</key>
                <string>{135,145}</string>
                <key>textureRect</key>
                <string>{{1,1},{135,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,114}</string>
                <key>spriteSourceSize</key>
                <string>{143,114}</string>
                <key>textureRect</key>
                <string>{{1221,1},{143,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,105}</string>
                <key>spriteSourceSize</key>
                <string>{146,105}</string>
                <key>textureRect</key>
                <string>{{780,1},{146,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,93}</string>
                <key>spriteSourceSize</key>
                <string>{93,93}</string>
                <key>textureRect</key>
                <string>{{677,235},{93,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{973,223},{105,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{474,225},{103,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,119}</string>
                <key>spriteSourceSize</key>
                <string>{144,119}</string>
                <key>textureRect</key>
                <string>{{1075,1},{144,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,101}</string>
                <key>spriteSourceSize</key>
                <string>{153,101}</string>
                <key>textureRect</key>
                <string>{{475,1},{153,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,82}</string>
                <key>spriteSourceSize</key>
                <string>{162,82}</string>
                <key>textureRect</key>
                <string>{{1505,1},{162,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{107,109}</string>
                <key>textureRect</key>
                <string>{{363,221},{107,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,91}</string>
                <key>spriteSourceSize</key>
                <string>{97,91}</string>
                <key>textureRect</key>
                <string>{{1714,225},{97,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,104}</string>
                <key>spriteSourceSize</key>
                <string>{91,104}</string>
                <key>textureRect</key>
                <string>{{1411,119},{91,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,100}</string>
                <key>spriteSourceSize</key>
                <string>{139,100}</string>
                <key>textureRect</key>
                <string>{{1669,1},{139,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{122,122}</string>
                <key>textureRect</key>
                <string>{{1896,111},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,128}</string>
                <key>spriteSourceSize</key>
                <string>{116,128}</string>
                <key>textureRect</key>
                <string>{{1639,103},{116,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,104}</string>
                <key>textureRect</key>
                <string>{{1608,221},{98,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{106,100}</string>
                <key>textureRect</key>
                <string>{{1299,222},{106,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{2044,329}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6d6e351bb17f16906f6c9b495be850d:88271d918b4c02988fb9f37dc3cfe084:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
