<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,132}</string>
                <key>spriteSourceSize</key>
                <string>{109,132}</string>
                <key>textureRect</key>
                <string>{{113,1},{109,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,135}</string>
                <key>spriteSourceSize</key>
                <string>{110,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,132}</string>
                <key>textureRect</key>
                <string>{{224,1},{105,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,132}</string>
                <key>textureRect</key>
                <string>{{209,269},{105,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,132}</string>
                <key>spriteSourceSize</key>
                <string>{105,132}</string>
                <key>textureRect</key>
                <string>{{301,135},{105,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,131}</string>
                <key>spriteSourceSize</key>
                <string>{104,131}</string>
                <key>textureRect</key>
                <string>{{316,269},{104,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,132}</string>
                <key>spriteSourceSize</key>
                <string>{95,132}</string>
                <key>textureRect</key>
                <string>{{331,1},{95,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,135}</string>
                <key>spriteSourceSize</key>
                <string>{104,135}</string>
                <key>textureRect</key>
                <string>{{1,138},{104,135}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,131}</string>
                <key>spriteSourceSize</key>
                <string>{103,131}</string>
                <key>textureRect</key>
                <string>{{408,135},{103,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{97,129}</string>
                <key>textureRect</key>
                <string>{{630,266},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,131}</string>
                <key>spriteSourceSize</key>
                <string>{91,131}</string>
                <key>textureRect</key>
                <string>{{513,134},{91,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,131}</string>
                <key>spriteSourceSize</key>
                <string>{91,131}</string>
                <key>textureRect</key>
                <string>{{529,1},{91,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,130}</string>
                <key>spriteSourceSize</key>
                <string>{97,130}</string>
                <key>textureRect</key>
                <string>{{606,134},{97,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,132}</string>
                <key>spriteSourceSize</key>
                <string>{101,132}</string>
                <key>textureRect</key>
                <string>{{131,410},{101,132}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,127}</string>
                <key>textureRect</key>
                <string>{{833,260},{100,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,127}</string>
                <key>spriteSourceSize</key>
                <string>{101,127}</string>
                <key>textureRect</key>
                <string>{{808,131},{101,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,127}</string>
                <key>spriteSourceSize</key>
                <string>{98,127}</string>
                <key>textureRect</key>
                <string>{{912,1},{98,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,127}</string>
                <key>spriteSourceSize</key>
                <string>{100,127}</string>
                <key>textureRect</key>
                <string>{{911,130},{100,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,124}</string>
                <key>spriteSourceSize</key>
                <string>{97,124}</string>
                <key>textureRect</key>
                <string>{{1190,1},{97,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,119}</string>
                <key>spriteSourceSize</key>
                <string>{101,119}</string>
                <key>textureRect</key>
                <string>{{768,390},{101,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,123}</string>
                <key>spriteSourceSize</key>
                <string>{96,123}</string>
                <key>textureRect</key>
                <string>{{980,388},{96,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,118}</string>
                <key>spriteSourceSize</key>
                <string>{95,118}</string>
                <key>textureRect</key>
                <string>{{1190,127},{95,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,119}</string>
                <key>spriteSourceSize</key>
                <string>{99,119}</string>
                <key>textureRect</key>
                <string>{{1180,366},{99,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,130}</string>
                <key>spriteSourceSize</key>
                <string>{106,130}</string>
                <key>textureRect</key>
                <string>{{522,267},{106,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,122}</string>
                <key>spriteSourceSize</key>
                <string>{107,122}</string>
                <key>textureRect</key>
                <string>{{871,389},{107,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,117}</string>
                <key>spriteSourceSize</key>
                <string>{108,117}</string>
                <key>textureRect</key>
                <string>{{1180,247},{108,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,133}</string>
                <key>spriteSourceSize</key>
                <string>{108,133}</string>
                <key>textureRect</key>
                <string>{{99,275},{108,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,120}</string>
                <key>spriteSourceSize</key>
                <string>{111,120}</string>
                <key>textureRect</key>
                <string>{{526,399},{111,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,118}</string>
                <key>spriteSourceSize</key>
                <string>{111,118}</string>
                <key>textureRect</key>
                <string>{{648,397},{111,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,132}</string>
                <key>spriteSourceSize</key>
                <string>{107,132}</string>
                <key>textureRect</key>
                <string>{{192,135},{107,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,125}</string>
                <key>spriteSourceSize</key>
                <string>{89,125}</string>
                <key>textureRect</key>
                <string>{{1099,1},{89,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,128}</string>
                <key>spriteSourceSize</key>
                <string>{101,128}</string>
                <key>textureRect</key>
                <string>{{622,1},{101,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,129}</string>
                <key>spriteSourceSize</key>
                <string>{109,129}</string>
                <key>textureRect</key>
                <string>{{395,402},{109,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,127}</string>
                <key>spriteSourceSize</key>
                <string>{101,127}</string>
                <key>textureRect</key>
                <string>{{809,1},{101,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,126}</string>
                <key>spriteSourceSize</key>
                <string>{90,126}</string>
                <key>textureRect</key>
                <string>{{1013,130},{90,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,124}</string>
                <key>spriteSourceSize</key>
                <string>{100,124}</string>
                <key>textureRect</key>
                <string>{{1078,384},{100,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,128}</string>
                <key>spriteSourceSize</key>
                <string>{82,128}</string>
                <key>textureRect</key>
                <string>{{725,1},{82,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,133}</string>
                <key>spriteSourceSize</key>
                <string>{83,133}</string>
                <key>textureRect</key>
                <string>{{107,138},{83,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,128}</string>
                <key>spriteSourceSize</key>
                <string>{101,128}</string>
                <key>textureRect</key>
                <string>{{705,131},{101,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,127}</string>
                <key>spriteSourceSize</key>
                <string>{85,127}</string>
                <key>textureRect</key>
                <string>{{1012,1},{85,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,127}</string>
                <key>spriteSourceSize</key>
                <string>{84,127}</string>
                <key>textureRect</key>
                <string>{{935,259},{84,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,124}</string>
                <key>spriteSourceSize</key>
                <string>{101,124}</string>
                <key>textureRect</key>
                <string>{{1021,258},{101,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,131}</string>
                <key>spriteSourceSize</key>
                <string>{98,131}</string>
                <key>textureRect</key>
                <string>{{422,268},{98,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,134}</string>
                <key>spriteSourceSize</key>
                <string>{96,134}</string>
                <key>textureRect</key>
                <string>{{1,275},{96,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,131}</string>
                <key>spriteSourceSize</key>
                <string>{99,131}</string>
                <key>textureRect</key>
                <string>{{428,1},{99,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,128}</string>
                <key>spriteSourceSize</key>
                <string>{100,128}</string>
                <key>textureRect</key>
                <string>{{1,411},{100,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,127}</string>
                <key>spriteSourceSize</key>
                <string>{102,127}</string>
                <key>textureRect</key>
                <string>{{729,261},{102,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,128}</string>
                <key>spriteSourceSize</key>
                <string>{108,128}</string>
                <key>textureRect</key>
                <string>{{265,403},{108,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1289,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3659a69ba3db6ef0ffbaecc56260197:66098b7ab2872340e0570d60d0ee33ab:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
