<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,247}</string>
                <key>spriteSourceSize</key>
                <string>{305,247}</string>
                <key>textureRect</key>
                <string>{{1684,696},{305,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,236}</string>
                <key>spriteSourceSize</key>
                <string>{277,236}</string>
                <key>textureRect</key>
                <string>{{1642,458},{277,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,252}</string>
                <key>spriteSourceSize</key>
                <string>{261,252}</string>
                <key>textureRect</key>
                <string>{{1198,943},{261,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,261}</string>
                <key>spriteSourceSize</key>
                <string>{281,261}</string>
                <key>textureRect</key>
                <string>{{1347,1199},{281,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,288}</string>
                <key>spriteSourceSize</key>
                <string>{253,288}</string>
                <key>textureRect</key>
                <string>{{1725,945},{253,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,268}</string>
                <key>spriteSourceSize</key>
                <string>{230,268}</string>
                <key>textureRect</key>
                <string>{{1,425},{230,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,260}</string>
                <key>spriteSourceSize</key>
                <string>{226,260}</string>
                <key>textureRect</key>
                <string>{{892,212},{226,260}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,249}</string>
                <key>spriteSourceSize</key>
                <string>{229,249}</string>
                <key>textureRect</key>
                <string>{{1718,227},{229,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,241}</string>
                <key>spriteSourceSize</key>
                <string>{253,241}</string>
                <key>textureRect</key>
                <string>{{262,662},{253,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,276}</string>
                <key>spriteSourceSize</key>
                <string>{284,276}</string>
                <key>textureRect</key>
                <string>{{921,1457},{284,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,292}</string>
                <key>spriteSourceSize</key>
                <string>{291,292}</string>
                <key>textureRect</key>
                <string>{{1532,1463},{291,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,255}</string>
                <key>spriteSourceSize</key>
                <string>{264,255}</string>
                <key>textureRect</key>
                <string>{{265,1159},{264,255}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,252}</string>
                <key>spriteSourceSize</key>
                <string>{231,252}</string>
                <key>textureRect</key>
                <string>{{271,429},{231,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,249}</string>
                <key>spriteSourceSize</key>
                <string>{285,249}</string>
                <key>textureRect</key>
                <string>{{612,919},{285,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,247}</string>
                <key>spriteSourceSize</key>
                <string>{299,247}</string>
                <key>textureRect</key>
                <string>{{1,905},{299,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,261}</string>
                <key>spriteSourceSize</key>
                <string>{280,261}</string>
                <key>textureRect</key>
                <string>{{1630,1200},{280,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,266}</string>
                <key>spriteSourceSize</key>
                <string>{358,266}</string>
                <key>textureRect</key>
                <string>{{1,1416},{358,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,247}</string>
                <key>spriteSourceSize</key>
                <string>{308,247}</string>
                <key>textureRect</key>
                <string>{{302,910},{308,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,216}</string>
                <key>spriteSourceSize</key>
                <string>{296,216}</string>
                <key>textureRect</key>
                <string>{{1,207},{296,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,222}</string>
                <key>spriteSourceSize</key>
                <string>{306,222}</string>
                <key>textureRect</key>
                <string>{{584,212},{306,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,218}</string>
                <key>spriteSourceSize</key>
                <string>{283,218}</string>
                <key>textureRect</key>
                <string>{{299,209},{283,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,272}</string>
                <key>spriteSourceSize</key>
                <string>{283,272}</string>
                <key>textureRect</key>
                <string>{{636,1433},{283,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,282}</string>
                <key>spriteSourceSize</key>
                <string>{323,282}</string>
                <key>textureRect</key>
                <string>{{1207,1462},{323,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,274}</string>
                <key>spriteSourceSize</key>
                <string>{258,274}</string>
                <key>textureRect</key>
                <string>{{1071,1197},{258,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,244}</string>
                <key>spriteSourceSize</key>
                <string>{304,244}</string>
                <key>textureRect</key>
                <string>{{789,673},{304,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,267}</string>
                <key>spriteSourceSize</key>
                <string>{273,267}</string>
                <key>textureRect</key>
                <string>{{361,1428},{273,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,257}</string>
                <key>spriteSourceSize</key>
                <string>{263,257}</string>
                <key>textureRect</key>
                <string>{{806,1174},{263,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,249}</string>
                <key>spriteSourceSize</key>
                <string>{297,249}</string>
                <key>textureRect</key>
                <string>{{899,923},{297,249}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,245}</string>
                <key>spriteSourceSize</key>
                <string>{287,245}</string>
                <key>textureRect</key>
                <string>{{1095,676},{287,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,262}</string>
                <key>spriteSourceSize</key>
                <string>{254,262}</string>
                <key>textureRect</key>
                <string>{{1,1154},{254,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,278}</string>
                <key>spriteSourceSize</key>
                <string>{231,278}</string>
                <key>textureRect</key>
                <string>{{525,436},{231,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{206,266}</string>
                <key>spriteSourceSize</key>
                <string>{206,266}</string>
                <key>textureRect</key>
                <string>{{330,1},{206,266}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,249}</string>
                <key>spriteSourceSize</key>
                <string>{224,249}</string>
                <key>textureRect</key>
                <string>{{1770,1},{224,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,226}</string>
                <key>spriteSourceSize</key>
                <string>{290,226}</string>
                <key>textureRect</key>
                <string>{{1154,215},{290,226}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,209}</string>
                <key>spriteSourceSize</key>
                <string>{294,209}</string>
                <key>textureRect</key>
                <string>{{869,1},{294,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,245}</string>
                <key>spriteSourceSize</key>
                <string>{298,245}</string>
                <key>textureRect</key>
                <string>{{1384,696},{298,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,252}</string>
                <key>spriteSourceSize</key>
                <string>{234,252}</string>
                <key>textureRect</key>
                <string>{{1388,446},{234,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,227}</string>
                <key>spriteSourceSize</key>
                <string>{270,227}</string>
                <key>textureRect</key>
                <string>{{1446,217},{270,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,212}</string>
                <key>spriteSourceSize</key>
                <string>{299,212}</string>
                <key>textureRect</key>
                <string>{{1165,1},{299,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,252}</string>
                <key>spriteSourceSize</key>
                <string>{262,252}</string>
                <key>textureRect</key>
                <string>{{1461,945},{262,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,204}</string>
                <key>spriteSourceSize</key>
                <string>{327,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{327,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,207}</string>
                <key>spriteSourceSize</key>
                <string>{269,207}</string>
                <key>textureRect</key>
                <string>{{598,1},{269,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,231}</string>
                <key>spriteSourceSize</key>
                <string>{297,231}</string>
                <key>textureRect</key>
                <string>{{805,440},{297,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,214}</string>
                <key>spriteSourceSize</key>
                <string>{302,214}</string>
                <key>textureRect</key>
                <string>{{1466,1},{302,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,231}</string>
                <key>spriteSourceSize</key>
                <string>{282,231}</string>
                <key>textureRect</key>
                <string>{{1104,443},{282,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,273}</string>
                <key>spriteSourceSize</key>
                <string>{256,273}</string>
                <key>textureRect</key>
                <string>{{531,1170},{256,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attack74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,239}</string>
                <key>spriteSourceSize</key>
                <string>{270,239}</string>
                <key>textureRect</key>
                <string>{{517,669},{270,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attack75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,240}</string>
                <key>spriteSourceSize</key>
                <string>{259,240}</string>
                <key>textureRect</key>
                <string>{{1,657},{259,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attack.png</string>
            <key>size</key>
            <string>{2020,1755}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba63f54128e3a3c3d28befea17c936ec:3cb0ab0c996c8b8f21671d547cf4a8cf:856f6152432936647e7bca42c85187ec$</string>
            <key>textureFileName</key>
            <string>attack.png</string>
        </dict>
    </dict>
</plist>
