<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,218}</string>
                <key>spriteSourceSize</key>
                <string>{342,218}</string>
                <key>textureRect</key>
                <string>{{598,765},{342,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{334,188}</string>
                <key>spriteSourceSize</key>
                <string>{334,188}</string>
                <key>textureRect</key>
                <string>{{253,355},{334,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,194}</string>
                <key>spriteSourceSize</key>
                <string>{329,194}</string>
                <key>textureRect</key>
                <string>{{589,357},{329,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,174}</string>
                <key>spriteSourceSize</key>
                <string>{281,174}</string>
                <key>textureRect</key>
                <string>{{1483,1},{281,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{301,162}</string>
                <key>spriteSourceSize</key>
                <string>{301,162}</string>
                <key>textureRect</key>
                <string>{{1,1},{301,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,165}</string>
                <key>spriteSourceSize</key>
                <string>{313,165}</string>
                <key>textureRect</key>
                <string>{{304,1},{313,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,229}</string>
                <key>spriteSourceSize</key>
                <string>{265,229}</string>
                <key>textureRect</key>
                <string>{{1163,1004},{265,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,210}</string>
                <key>spriteSourceSize</key>
                <string>{243,210}</string>
                <key>textureRect</key>
                <string>{{1017,563},{243,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,210}</string>
                <key>spriteSourceSize</key>
                <string>{239,210}</string>
                <key>textureRect</key>
                <string>{{1262,568},{239,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,177}</string>
                <key>spriteSourceSize</key>
                <string>{220,177}</string>
                <key>textureRect</key>
                <string>{{1766,1},{220,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,183}</string>
                <key>spriteSourceSize</key>
                <string>{300,183}</string>
                <key>textureRect</key>
                <string>{{1033,174},{300,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,179}</string>
                <key>spriteSourceSize</key>
                <string>{299,179}</string>
                <key>textureRect</key>
                <string>{{1,165},{299,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,261}</string>
                <key>spriteSourceSize</key>
                <string>{211,261}</string>
                <key>textureRect</key>
                <string>{{1,749},{211,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,256}</string>
                <key>spriteSourceSize</key>
                <string>{196,256}</string>
                <key>textureRect</key>
                <string>{{920,359},{196,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{188,250}</string>
                <key>spriteSourceSize</key>
                <string>{188,250}</string>
                <key>textureRect</key>
                <string>{{1,346},{188,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,205}</string>
                <key>spriteSourceSize</key>
                <string>{234,205}</string>
                <key>textureRect</key>
                <string>{{1,536},{234,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,215}</string>
                <key>spriteSourceSize</key>
                <string>{332,215}</string>
                <key>textureRect</key>
                <string>{{264,759},{332,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,200}</string>
                <key>spriteSourceSize</key>
                <string>{249,200}</string>
                <key>textureRect</key>
                <string>{{1453,366},{249,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,230}</string>
                <key>spriteSourceSize</key>
                <string>{254,230}</string>
                <key>textureRect</key>
                <string>{{1430,1006},{254,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,238}</string>
                <key>spriteSourceSize</key>
                <string>{256,238}</string>
                <key>textureRect</key>
                <string>{{1686,1059},{256,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,224}</string>
                <key>spriteSourceSize</key>
                <string>{250,224}</string>
                <key>textureRect</key>
                <string>{{1724,833},{250,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,181}</string>
                <key>spriteSourceSize</key>
                <string>{252,181}</string>
                <key>textureRect</key>
                <string>{{560,172},{252,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,204}</string>
                <key>spriteSourceSize</key>
                <string>{267,204}</string>
                <key>textureRect</key>
                <string>{{506,553},{267,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,202}</string>
                <key>spriteSourceSize</key>
                <string>{263,202}</string>
                <key>textureRect</key>
                <string>{{1704,366},{263,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,231}</string>
                <key>spriteSourceSize</key>
                <string>{325,231}</string>
                <key>textureRect</key>
                <string>{{1,1201},{325,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,228}</string>
                <key>spriteSourceSize</key>
                <string>{318,228}</string>
                <key>textureRect</key>
                <string>{{843,996},{318,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,223}</string>
                <key>spriteSourceSize</key>
                <string>{313,223}</string>
                <key>textureRect</key>
                <string>{{254,976},{313,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,169}</string>
                <key>spriteSourceSize</key>
                <string>{269,169}</string>
                <key>textureRect</key>
                <string>{{619,1},{269,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,171}</string>
                <key>spriteSourceSize</key>
                <string>{285,171}</string>
                <key>textureRect</key>
                <string>{{890,1},{285,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,171}</string>
                <key>spriteSourceSize</key>
                <string>{304,171}</string>
                <key>textureRect</key>
                <string>{{1177,1},{304,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,265}</string>
                <key>spriteSourceSize</key>
                <string>{249,265}</string>
                <key>textureRect</key>
                <string>{{1124,1235},{249,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,259}</string>
                <key>spriteSourceSize</key>
                <string>{244,259}</string>
                <key>textureRect</key>
                <string>{{583,1226},{244,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,253}</string>
                <key>spriteSourceSize</key>
                <string>{239,253}</string>
                <key>textureRect</key>
                <string>{{328,1212},{239,253}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,181}</string>
                <key>spriteSourceSize</key>
                <string>{217,181}</string>
                <key>textureRect</key>
                <string>{{814,174},{217,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,184}</string>
                <key>spriteSourceSize</key>
                <string>{297,184}</string>
                <key>textureRect</key>
                <string>{{1335,177},{297,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,184}</string>
                <key>spriteSourceSize</key>
                <string>{300,184}</string>
                <key>textureRect</key>
                <string>{{1634,180},{300,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,280}</string>
                <key>spriteSourceSize</key>
                <string>{210,280}</string>
                <key>textureRect</key>
                <string>{{1503,570},{210,280}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,273}</string>
                <key>spriteSourceSize</key>
                <string>{198,273}</string>
                <key>textureRect</key>
                <string>{{1178,363},{198,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,267}</string>
                <key>spriteSourceSize</key>
                <string>{202,267}</string>
                <key>textureRect</key>
                <string>{{237,545},{202,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>die63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,206}</string>
                <key>spriteSourceSize</key>
                <string>{240,206}</string>
                <key>textureRect</key>
                <string>{{775,557},{240,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,222}</string>
                <key>spriteSourceSize</key>
                <string>{249,222}</string>
                <key>textureRect</key>
                <string>{{1209,780},{249,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,225}</string>
                <key>spriteSourceSize</key>
                <string>{251,225}</string>
                <key>textureRect</key>
                <string>{{1,962},{251,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,246}</string>
                <key>spriteSourceSize</key>
                <string>{278,246}</string>
                <key>textureRect</key>
                <string>{{844,1226},{278,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,225}</string>
                <key>spriteSourceSize</key>
                <string>{272,225}</string>
                <key>textureRect</key>
                <string>{{569,985},{272,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{265,219}</string>
                <key>spriteSourceSize</key>
                <string>{265,219}</string>
                <key>textureRect</key>
                <string>{{942,775},{265,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,179}</string>
                <key>spriteSourceSize</key>
                <string>{256,179}</string>
                <key>textureRect</key>
                <string>{{302,168},{256,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,222}</string>
                <key>spriteSourceSize</key>
                <string>{262,222}</string>
                <key>textureRect</key>
                <string>{{1460,782},{262,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>die75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,210}</string>
                <key>spriteSourceSize</key>
                <string>{261,210}</string>
                <key>textureRect</key>
                <string>{{1785,570},{261,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>die.png</string>
            <key>size</key>
            <string>{1996,1485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cde1ad8e740fa195436dc8322e93c8c7:357d473138c32344278613491ad5484d:5e16e2626a28a3457b36ca8093546a30$</string>
            <key>textureFileName</key>
            <string>die.png</string>
        </dict>
    </dict>
</plist>
