<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,254}</string>
                <key>spriteSourceSize</key>
                <string>{325,254}</string>
                <key>textureRect</key>
                <string>{{1349,1},{325,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,272}</string>
                <key>spriteSourceSize</key>
                <string>{335,272}</string>
                <key>textureRect</key>
                <string>{{349,1},{335,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,261}</string>
                <key>spriteSourceSize</key>
                <string>{330,261}</string>
                <key>textureRect</key>
                <string>{{686,1},{330,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,258}</string>
                <key>spriteSourceSize</key>
                <string>{329,258}</string>
                <key>textureRect</key>
                <string>{{1018,1},{329,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,266}</string>
                <key>spriteSourceSize</key>
                <string>{342,266}</string>
                <key>textureRect</key>
                <string>{{1,270},{342,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,267}</string>
                <key>spriteSourceSize</key>
                <string>{346,267}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,262}</string>
                <key>spriteSourceSize</key>
                <string>{289,262}</string>
                <key>textureRect</key>
                <string>{{345,275},{289,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,265}</string>
                <key>spriteSourceSize</key>
                <string>{310,265}</string>
                <key>textureRect</key>
                <string>{{1349,257},{310,265}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,270}</string>
                <key>spriteSourceSize</key>
                <string>{277,270}</string>
                <key>textureRect</key>
                <string>{{636,524},{277,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,267}</string>
                <key>spriteSourceSize</key>
                <string>{251,267}</string>
                <key>textureRect</key>
                <string>{{248,1508},{251,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,278}</string>
                <key>spriteSourceSize</key>
                <string>{240,278}</string>
                <key>textureRect</key>
                <string>{{1,1638},{240,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,279}</string>
                <key>spriteSourceSize</key>
                <string>{271,279}</string>
                <key>textureRect</key>
                <string>{{1,538},{271,279}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,261}</string>
                <key>spriteSourceSize</key>
                <string>{245,261}</string>
                <key>textureRect</key>
                <string>{{807,1501},{245,261}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,276}</string>
                <key>spriteSourceSize</key>
                <string>{245,276}</string>
                <key>textureRect</key>
                <string>{{1,1360},{245,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,276}</string>
                <key>spriteSourceSize</key>
                <string>{255,276}</string>
                <key>textureRect</key>
                <string>{{1235,795},{255,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,276}</string>
                <key>spriteSourceSize</key>
                <string>{257,276}</string>
                <key>textureRect</key>
                <string>{{281,996},{257,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,282}</string>
                <key>spriteSourceSize</key>
                <string>{251,282}</string>
                <key>textureRect</key>
                <string>{{1,1076},{251,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,278}</string>
                <key>spriteSourceSize</key>
                <string>{260,278}</string>
                <key>textureRect</key>
                <string>{{621,796},{260,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,250}</string>
                <key>spriteSourceSize</key>
                <string>{244,250}</string>
                <key>textureRect</key>
                <string>{{1415,1437},{244,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,246}</string>
                <key>spriteSourceSize</key>
                <string>{241,246}</string>
                <key>textureRect</key>
                <string>{{1339,1683},{241,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,262}</string>
                <key>spriteSourceSize</key>
                <string>{259,262}</string>
                <key>textureRect</key>
                <string>{{879,1240},{259,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,263}</string>
                <key>spriteSourceSize</key>
                <string>{278,263}</string>
                <key>textureRect</key>
                <string>{{1,811},{278,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,258}</string>
                <key>spriteSourceSize</key>
                <string>{298,258}</string>
                <key>textureRect</key>
                <string>{{1607,624},{298,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{269,237}</string>
                <key>spriteSourceSize</key>
                <string>{269,237}</string>
                <key>textureRect</key>
                <string>{{517,1524},{269,237}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,233}</string>
                <key>spriteSourceSize</key>
                <string>{320,233}</string>
                <key>textureRect</key>
                <string>{{282,539},{320,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,229}</string>
                <key>spriteSourceSize</key>
                <string>{318,229}</string>
                <key>textureRect</key>
                <string>{{915,748},{318,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,217}</string>
                <key>spriteSourceSize</key>
                <string>{318,217}</string>
                <key>textureRect</key>
                <string>{{559,1058},{318,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,220}</string>
                <key>spriteSourceSize</key>
                <string>{331,220}</string>
                <key>textureRect</key>
                <string>{{915,526},{331,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,220}</string>
                <key>spriteSourceSize</key>
                <string>{337,220}</string>
                <key>textureRect</key>
                <string>{{282,774},{337,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,208}</string>
                <key>spriteSourceSize</key>
                <string>{341,208}</string>
                <key>textureRect</key>
                <string>{{1661,281},{341,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,269}</string>
                <key>spriteSourceSize</key>
                <string>{287,269}</string>
                <key>textureRect</key>
                <string>{{1318,524},{287,269}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{296,258}</string>
                <key>spriteSourceSize</key>
                <string>{296,258}</string>
                <key>textureRect</key>
                <string>{{686,264},{296,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,241}</string>
                <key>spriteSourceSize</key>
                <string>{270,241}</string>
                <key>textureRect</key>
                <string>{{1143,1310},{270,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,234}</string>
                <key>spriteSourceSize</key>
                <string>{268,234}</string>
                <key>textureRect</key>
                <string>{{243,1761},{268,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,252}</string>
                <key>spriteSourceSize</key>
                <string>{237,252}</string>
                <key>textureRect</key>
                <string>{{788,1748},{237,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,256}</string>
                <key>spriteSourceSize</key>
                <string>{266,256}</string>
                <key>textureRect</key>
                <string>{{1170,1052},{266,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,267}</string>
                <key>spriteSourceSize</key>
                <string>{224,267}</string>
                <key>textureRect</key>
                <string>{{1070,1553},{224,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,281}</string>
                <key>spriteSourceSize</key>
                <string>{201,281}</string>
                <key>textureRect</key>
                <string>{{1667,1437},{201,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,270}</string>
                <key>spriteSourceSize</key>
                <string>{200,270}</string>
                <key>textureRect</key>
                <string>{{1582,1720},{200,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,259}</string>
                <key>spriteSourceSize</key>
                <string>{223,259}</string>
                <key>textureRect</key>
                <string>{{513,1763},{223,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,278}</string>
                <key>spriteSourceSize</key>
                <string>{193,278}</string>
                <key>textureRect</key>
                <string>{{1676,1},{193,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,281}</string>
                <key>spriteSourceSize</key>
                <string>{207,281}</string>
                <key>textureRect</key>
                <string>{{1042,1779},{207,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,250}</string>
                <key>spriteSourceSize</key>
                <string>{267,250}</string>
                <key>textureRect</key>
                <string>{{1438,1185},{267,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move71.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,275}</string>
                <key>spriteSourceSize</key>
                <string>{245,275}</string>
                <key>textureRect</key>
                <string>{{530,1277},{245,275}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>move72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{263,259}</string>
                <key>spriteSourceSize</key>
                <string>{263,259}</string>
                <key>textureRect</key>
                <string>{{1513,924},{263,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move73.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,251}</string>
                <key>spriteSourceSize</key>
                <string>{274,251}</string>
                <key>textureRect</key>
                <string>{{254,1255},{274,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move74.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{298,263}</string>
                <key>spriteSourceSize</key>
                <string>{298,263}</string>
                <key>textureRect</key>
                <string>{{1018,261},{298,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move75.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,267}</string>
                <key>spriteSourceSize</key>
                <string>{259,267}</string>
                <key>textureRect</key>
                <string>{{901,979},{259,267}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1870,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad6a203612ce3d0594cfe6b23d851a94:9686f25f2b5465379ae14e5fccadacfc:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
